{% extends 'base2.html.twig' %}

{% block title %}Détail contrat terminé
{% endblock %}


{% block stylesheets %}
	<!-- bootstrap-datetimepicker -->
	<link
	href="../../admin/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<!-- Ion.RangeSlider -->
	<link href="../../admin/vendors/normalize-css/normalize.css" rel="stylesheet">
	<link href="../../admin/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
	<link
	href="../../admin/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
	<!-- Bootstrap Colorpicker -->
	<link href="../../admin/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

	<link href="../../admin/vendors/cropper/dist/cropper.min.css" rel="stylesheet">
	<link href="../../css/admin/vente_comptoir.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2>Form Wizards
				<small>Sessions</small>
			</h2>
			<div class="clearfix"></div>
		</div>
		<div
			class="x_content">
			<!-- Smart Wizard -->
			<p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>
			<div id="wizard" class="form_wizard wizard_horizontal">
				<ul class="wizard_steps">
					<li>
						<a href="#step-1">
							<span class="step_no">1</span>
							<span class="step_descr">
								Step 1<br/>
								<small>Step 1 description</small>
							</span>
						</a>
					</li>
					<li>
						<a href="#step-2">
							<span class="step_no">2</span>
							<span class="step_descr">
								Step 2<br/>
								<small>Step 2 description</small>
							</span>
						</a>
					</li>
					<li>
						<a href="#step-3">
							<span class="step_no">3</span>
							<span class="step_descr">
								Step 3<br/>
								<small>Step 3 description</small>
							</span>
						</a>
					</li>
					<li>
						<a href="#step-4">
							<span class="step_no">4</span>
							<span class="step_descr">
								Step 4<br/>
								<small>Step 4 description</small>
							</span>
						</a>
					</li>
				</ul>
				<div id="step-1">
					<div class="x_title">
						départ
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-md-3">
								<p>
									Agence de départ
								</p>
								<div class="form-group ">
									<div class="">
										<select class="form-control">
											<option>Choisir un type de date</option>
											<option>Option one</option>
											<option>Option two</option>
											<option>Option three</option>
											<option>Option four</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-3">

								<p>
									Date de départ
								</p>
								<div>
									<input id="debut_periode" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
									<script>
										function timeFunctionLong(input) {
setTimeout(function () {
input.type = 'text';
}, 60000);
}
									</script>
								</div>
							</div>
							<div class="col-md-3">


								<p>
									heure de départ
								</p>
								<div class="form-group">
									<div class='input-group date' id='myDatepicker3'>
										<input type='text' class="form-control"/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<p>
									Type de véhicule
								</p>
								<div class="form-group ">
									<div class="">
										<select class="form-control">
											<option>Choisir une catégorie</option>
											<option>Option one</option>
											<option>Option two</option>
											<option>Option three</option>
											<option>Option four</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="x_title">
						Retour
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-md-3">
								<p>
									Agence de départ
								</p>
								<div class="form-group ">
									<div class="">
										<select class="form-control">
											<option>Choisir un type de date</option>
											<option>Option one</option>
											<option>Option two</option>
											<option>Option three</option>
											<option>Option four</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-3">

								<p>
									Date de départ
								</p>
								<div>
									<input id="debut_periode" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
									<script>
										function timeFunctionLong(input) {
setTimeout(function () {
input.type = 'text';
}, 60000);
}
									</script>
								</div>
							</div>
							<div class="col-md-3">
								<p>
									heure de départ
								</p>
								<div class="form-group">
									<div class='input-group date' id='myDatepicker3'>
										<input type='text' class="form-control"/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<p>
									Type de véhicule
								</p>
								<div class="form-group ">
									<div class="">
										<select class="form-control">
											<option>Choisir une catégorie</option>
											<option>Option one</option>
											<option>Option two</option>
											<option>Option three</option>
											<option>Option four</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div id="step-2">
					<h2 class="StepTitle">Véhicules</h2>
					<div class="row">
						<div class="col-md-3">
							<i class="fa fa-calendar-o"></i>
							Aller :
						</div>
						<div class="col-md-3">
							<i class="fa fa-calendar-o"></i>
							Retour :
						</div>
						<div class="col-md-3">
							<i class="fa fa-calendar-o"></i>
							Jours :
						</div>
						<div class="col-md-3">
							<i class="fa fa-bookmark"></i>
							Code promo :
						</div>
					</div>
					<div class="">
						<div class="row groupe_boutons m-1 justify-content-center">
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Tous les véhicules</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Economique</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Compacte</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Familiale</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Minibus</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">4x4</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Automatique</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Premium</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">SUV</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Utilitaires</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Citadine</button>
							</div>
							<div class="col-auto">
								<button class="btn btn-outline-secondary">Véhicules déclassés</button>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-3"><img src="../../images/capture 1.jpg" alt="" style="width:90%;"></div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-8">
											<h4>VOLSWAGEN T-ROC ESS</h4>ou similaire
											<br>
											Catégorie CFMR
											<br>
											Essence | Kilométrage Illimité
										</div>
										<div class="col-md-4">
											<p class="font-weight-bold mb-0 pb-0">Caution</p>
											<p class="mb-0 pb-0">1000,00 EUR</p>
											<p class="font-weight-bold mb-0 pb-0">Conducteur</p>
											<p class="mb-0 pb-0">23 ans</p>
											<p class="font-weight-bold mb-0 pb-0">Permis</p>
											<p class="mb-0 pb-0">3 ans</p>

										</div>
										<p style="font-size:18px" class="mb-0 pb-0">
											<i class="fa fa-info"></i>
											Vous n'avez aucun véhicule de disponible sur cette catégorie</p>
										<p style="font-size:18px" class="mb-0 pb-0">
											<i class="fa fa-exclamation"></i>
											Des véhicules sont disponibles sur l'ensemble du réseau</p>
									</div>
								</div>
								<div
									class="col-md-3">

									{# debut test #}

									<form class="form-horizontal form-label-left">


										<div class="form-group ">
											<div>
												<div class="radio">
													<label>
														<input type="radio" class="flat" checked name="iCheck">
														Tarif comptoir
													</label>
												</div>
												<p>74,80 EUR (44,80 EUR / jour)</p>

												<div class="radio">
													<label>
														<input type="radio" class="flat" name="iCheck">
														Montant libre
													</label>
												</div>
												<div class="form-group">
													<div class="">
														<input type="text" class="form-control">
													</div>
												</div>
											</div>
										</div>
										<div class="form-group text-center">
											<div>
												<button type="button" class="btn btn-danger btn-block">
													<i class="fa fa-check"></i>
													Réserver</button>
											</div>
										</div>
									</form>
									{# fin test #}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="step-3">
					<h2 class="StepTitle">Step 3 Content</h2>
					<div class="row">
						<div class="col-md-3">
							<div class="alert alert-secondary btn-block h-100">
								<div class="x_title">
									Votre réservation
								</div>
								<img src="../../images/capture 1.jpg" alt="" style="width:100%;">
								<div>
									<h4>Agence départ
									</h4>
									<p>
										<i class="fa fa-map-marker"></i>
										Aéroport Guadeloupe via Navette
									</p>
									<p>09 Octobre 2020 - 06H00</p>
								</div>

							</div>
						</div>
						<div class="col-md-9">
							<h3>
								<i class="fa fa-chevron-right"></i>
								Choisir vos options
							</h3>

							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<div class="alert alert-secondary h-100">
												<img src="../../images/capture 1.jpg" alt="" style="width:100%;">
											</div>
										</div>
										<div class="col-md-8">
											<div class="x_title">
												<h3>
													Transfert
												</h3>

											</div>
											<p>
												Transferts aller/retour Aéroport ou Gare Maritime à votre lieu de séjour ou dans une de nos agences Ste Anne, Ste Francois, Trois Rvières, Basse-terre et St Claude. Tous les transferts sont gratuits et à votre disposition selon les disponibilités. Si nos transferts ne sont plus disponibles votre conseiller...
											</p>
											{# test incrementer #}
											<div class="input-group input-number-group">
												<div class="row">
													<div class="col-auto p-0">
														<button class="btn btn-dark decrement mb-0">
															<i class="fa fa-minus"></i>
														</button>
													</div>
													<div class="col-auto p-0">
														<input class="input-number p-0" type="number" value="0" min="0" max="1000">
													</div>
													<div class="col-auto p-0 pl-1">
														<button class="btn btn-primary increment mb-0">
															<i class="fa fa-plus"></i>
														</button>
													</div>
													<div class="col-auto d-flex">
														<div class=" d-flex align-items-center">
															<div>0 Euro</div>
														</div>
													</div>
												</div>
											</div>
											{# fin incrementer #}
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<div class="alert alert-secondary btn-block h-100">
												<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
											</div>
										</div>
										<div class="col-md-8">
											<div class="x_title">
												<h3>
													Transfert
												</h3>
											</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil non accusantium corporis delectus soluta? Omnis fugit quas quia, cum iste commodi aliquid vero ea voluptas placeat itaque voluptatibus eum culpa.</p>
											{# test incrementer #}
											<div class="input-group input-number-group ">
												<div class="row">
													<div class="col-auto p-0">
														<button class="btn btn-dark decrement mb-0">
															<i class="fa fa-minus"></i>
														</button>
													</div>
													<div class="col-auto p-0">
														<input class="input-number p-0" type="number" value="0" min="0" max="1000">
													</div>
													<div class="col-auto p-0 pl-1">
														<button class="btn btn-primary increment mb-0">
															<i class="fa fa-plus"></i>
														</button>
													</div>
													<div class="col-auto d-flex">
														<div class=" d-flex align-items-center">
															<div>0 Euro</div>
														</div>
													</div>
												</div>
											</div>
											{# fin incrementer #}
										</div>
									</div>
								</div>
							</div>

							<h3>
								<i class="fa fa-chevron-right"></i>

								Choisissez vos garanties</h3>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<div class="alert alert-secondary h-100">
												<img src="../../images/capture 1.jpg" alt="" style="width:100%;">
											</div>
										</div>
										<div class="col-md-8">
											<div class="x_title">
												<h3>
													Transfert
												</h3>
											</div>
											<p>
												Transferts aller/retour Aéroport ou Gare Maritime à votre lieu de séjour ou dans une de nos agences Ste Anne, Ste Francois, Trois Rvières, Basse-terre et St Claude. Tous les transferts sont gratuits et à votre disposition selon les disponibilités. Si nos transferts ne sont plus disponibles votre conseiller...
											</p>
											<div class="row">
												<div class="col-auto p-0">
													<button class="btn btn-dark mb-0">Oui</button>
												</div>
												<div class="col-auto p-0">
													<button class="btn btn-primary mb-0">Non</button>
												</div>
												<div class="col-auto border border-secondary d-flex">
													<div class="d-flex align-items-center">
														<div>
															<span>0</span>
															EUR
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-4">
											<div class="alert alert-secondary btn-block h-100">
												<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
											</div>
										</div>
										<div class="col-md-8">
											<div class="x_title">
												<h3>
													Transfert
												</h3>
											</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil non accusantium corporis delectus soluta? Omnis fugit quas quia, cum iste commodi aliquid vero ea voluptas placeat itaque voluptatibus eum culpa.</p>

											<div class="row">
												<div class="col-auto p-0">
													<button class="btn btn-dark mb-0">Oui</button>
												</div>
												<div class="col-auto p-0">
													<button class="btn btn-primary mb-0">Non</button>
												</div>
												<div class="col-auto border border-secondary d-flex">
													<div class="d-flex align-items-center">
														<div>
															<span>0</span>
															EUR
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>

				</div>
				<div id="step-4">
					<h2 class="StepTitle">Step 4 Content</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>

			</div>
			<!-- End SmartWizard Content -->

		</div>
	</div>
{% endblock %}
{% block javascripts %}<!-- FastClick --><script src="../../admin/vendors/fastclick/lib/fastclick.js"></script><!-- jQuery Smart Wizard --><script src="../../admin/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script><!-- bootstrap-daterangepicker --><script src="../../admin/vendors/moment/min/moment.min.js"></script>
	<script src="../../admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script><!-- bootstrap-datetimepicker --><script src="../../admin/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script><!-- Ion.RangeSlider --><script src="../../admin/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script><!-- Bootstrap Colorpicker --><script src="../../admin/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script><!-- jquery.inputmask --><script src="../../admin/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script><!-- jQuery Knob --><script src="../../admin/vendors/jquery-knob/dist/jquery.knob.min.js"></script><!-- Initialize datetimepicker --><script type="text/javascript">
		$(function () {
$('#myDatepicker').datetimepicker();
});

$('#myDatepicker2').datetimepicker({format: 'DD.MM.YYYY'});

$('#myDatepicker3').datetimepicker({format: 'hh:mm A'});

$('#myDatepicker4').datetimepicker({ignoreReadonly: true, allowInputToggle: true});

$('#datetimepicker6').datetimepicker();

$('#datetimepicker7').datetimepicker({useCurrent: false});

$("#datetimepicker6").on("dp.change", function (e) {
$('#datetimepicker7').data("DateTimePicker").minDate(e.date);
});

$("#datetimepicker7").on("dp.change", function (e) {
$('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
});
	</script>
	<script src="../../js/admin/vente_comptoir.js"></script>
{% endblock %}
