{% extends 'base2.html.twig' %}

{% block title %}Rechercher une résa
{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-search"></i>
		Rechercher une réservation
	</h2>

{% endblock %}

{% block stylesheets %}
	{# <!-- bootstrap-wysiwyg -->
																													<link
																													href="../../admin/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
																													<!-- Select2 -->
																													<link
																													href="../../admin/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
																													<!-- Switchery -->
																													<link
																													href="../../admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
																													<!-- starrr -->
																													<link
																													href="../../admin/vendors/starrr/dist/starrr.css" rel="stylesheet">
																													<!-- bootstrap-daterangepicker -->
																													<link href="../../admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet"> #}
{% endblock  %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-search"></i>
				Recherche simple
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p>
				Chercher une réservation en saisissant sa référence
			</p>
			<form class="form-horizontal form-label-left">
				<div class="form-group ">
					<div class="col-md-10">
						<input type="text" id="rechercheSimple" name="recherche" required="required" class="form-control col-md-12 " placeholder="Saisir une référence ou le nom d'un client">
					</div>
					<div class="col-md-2">
						<button class="btn btn-danger" id="btnrechercheSimple">
							<i class="fa fa-search"></i>
							Chercher</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="x_panel hide" id="resultRechSimple">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Date Depart</th>
					<th scope="col">Date retour</th>
					<th scope="col">Date reservation</th>
					<th scope="col">Agence départ</th>
					<th scope="col">Agence retour</th>
				</tr>
			</thead>
			<tbody id="tbody"></tbody>
		</table>

	</div>
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-car"></i>
				Recherche par immatriculation</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p>
				Chercher une réservation en sélectionnant une immatriculation et une date
			</p>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group ">
						<div class="">
							<select class="form-control">
								<option>Sélectionnez une immatriculation</option>
								<option>Option one</option>
								<option>Option two</option>
								<option>Option three</option>
								<option>Option four</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="item form-group">

						<div class=" ">
							<input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
							<script>
								function timeFunctionLong(input) {
setTimeout(function () {
input.type = 'text';
}, 60000);
}
							</script>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<button class="btn btn-danger" type="button">
						<i class="fa fa-search"></i>
						Chercher</button>
				</div>
			</div>
		</div>
	</div>
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-search-plus"></i>
				Recherche avancée
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-4">
					<p>
						Type de date:
					</p>
					<div class="form-group ">
						<div class="">
							<select class="form-control">
								<option>Choisir un type de date</option>
								<option>Option one</option>
								<option>Option two</option>
								<option>Option three</option>
								<option>Option four</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-4">
					<p>
						Début période:
					</p>
					<div>
						<input id="debut_periode" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
						<script>
							function timeFunctionLong(input) {
setTimeout(function () {
input.type = 'text';
}, 60000);
}
						</script>
					</div>
				</div>
				<div class="col-4">

					<p>
						Fin période:
					</p>
					<div>
						<input id="fin_periode" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
						<script>
							function timeFunctionLong(input) {
setTimeout(function () {
input.type = 'text';
}, 60000);
}
						</script>
					</div>
				</div>
				<div class="col-4">
					<p>
						Catégorie:
					</p>
					<div class="form-group ">
						<div class="">
							<select class="form-control">
								<option>Choisir une catégorie</option>
								<option>Option one</option>
								<option>Option two</option>
								<option>Option three</option>
								<option>Option four</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-4">
					<p>
						Type tarif:
					</p>
					<div class="form-group ">
						<div class="">
							<select class="form-control">
								<option>Choisir un type de tarif</option>
								<option>Option one</option>
								<option>Option two</option>
								<option>Option three</option>
								<option>Option four</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-4">
					<p>
						Code promo:
					</p>
					<form class="form-horizontal form-label-left">

						<div class="form-group ">

							<div>
								<input type="text" id="last-name2" name="last-name" required="required" class="form-control col-md-12 " placeholder="Code promo">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="ln_solid"></div>
			<div class="item form-group">
				<div class="col-md-6 col-sm-6 offset-md-5">
					<button class="btn border-dark" type="button">
						<i class="fa fa-close"></i>
						Annuler</button>
					<button type="button" class="btn btn-danger">
						<i class="fa fa-search mr-1"></i>Rechercher</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="../../js/admin/recherche_res.js"></script>
{% endblock  %}
