{% extends 'base2.html.twig' %}

{% block title %}Réservation report
{% endblock %}

{% block current_page %}

	<h2>
		<i class="fa fa-calendar-o"></i>
		Réservation
	</h2>
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-calendar-o"></i>
				Liste des réservations
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">

						<table id="datatable" class="table table-striped table-bordered" style="width:100%">
							<thead class="text-uppercase">
								<tr>
									<th>paiement</th>
									<th class="text-nowrap">date création</th>
									<th>client</th>
									<th class="text-nowrap">réservation / véhicule</th>
									<th class="text-nowrap">dates / durées</th>
									<th>prix</th>
									<th>code</th>
									<th>action</th>
								</tr>
							</thead>


							<tbody>
								<tr>
									<td>Tiger Nixon</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
									<td>61</td>
									<td>2011/04/25</td>
									<td>$320,800</td>
									<td>$320,800</td>
									<td>$320,800</td>
								</tr>
								<tr>
									<td>Garrett Winters</td>
									<td>Garrett Winters</td>
									<td>Garrett Winters</td>
									<td>Accountant</td>
									<td>Tokyo</td>
									<td>63</td>
									<td>2011/07/25</td>
									<td>$170,750</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			{% endblock %}

			{% block javascripts %}
				<!-- Datatables -->
				<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
				<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
				<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
				<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
				<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
				<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
				<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
				<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
				<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
				<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
				<script src="{{asset('js/admin/datatable.fr.js')}}"></script>
			{% endblock  %}
