<div class="card bg-white shadow-md rounded-lg">
  <div class="card-content p-6">
    <h5 class="font-bold text-error flex items-center gap-2 mb-6">
      <i class="fas fa-user text-error-content"></i>
      Informations Client
    </h5>
    <div class="bg-base-200 rounded-lg p-4 space-y-6">
      <div>
        <div class="flex items-center mb-1 gap-2">
          <i class="fas fa-id-card"></i>
          <small class="text-base-content/70">Nom complet</small>
        </div>
        <span class="font-medium ml-4">{{ reservation.client.nom }} {{ reservation.client.prenom }}</span>
      </div>
      <div>
        <div class="flex items-center mb-1 gap-2">
          <i class="fas fa-envelope"></i>
          <small class="text-base-content/70">Email</small>
        </div>
        <span class="font-medium ml-4">{{ reservation.client.mail }}</span>
      </div>
      <div>
        <div class="flex items-center mb-1 gap-2">
          <i class="fas fa-phone"></i>
          <small class="text-base-content/70">Téléphone</small>
        </div>
        <span class="font-medium ml-4">{{ reservation.client.telephone }}</span>
      </div>
    </div>
  </div>
</div>