<div class="bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
	<div class="p-4">
		<h4 class="text-xl font-semibold text-joel-red flex items-center mb-3">
			<i class="fa fa-user mr-2"></i> Client
		</h4>
		<div class="bg-gray-50 rounded-lg p-3 space-y-2">
			<div class="flex">
				<i class="fa fa-id-card text-joel-red mr-2 w-4"></i>
				<span class="text-xl">{{ reservation.client.nom }}
					{{ reservation.client.prenom }}</span>
			</div>
			<div class="flex">
				<i class="fa fa-envelope text-joel-red mr-2 w-4"></i>
				<span class="text-xl">{{ reservation.client.mail }}</span>
			</div>
			<div class="flex">
				<i class="fa fa-phone text-joel-red mr-2 w-4"></i>
				<span class="text-xl">{{ reservation.client.telephone }}</span>
			</div>
		</div>
	</div>
</div>
