{% extends 'base2.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block content %}
    <h1>Modification du type</h1>

    {{ include('type/_form.html.twig', {'button_label': 'Modifer'}) }}

    <a href="{{ path('type_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
