{% extends 'base2.html.twig' %}

{% block title %}New Type{% endblock %}

{% block content %}
    <h1>Nouveau type</h1>

    {{ include('type/_form.html.twig') }}

    <a href="{{ path('type_index') }}">retour</a>
{% endblock %}
