security:
    role_hierarchy:
        ROLE_CLIENT : ROLE_USER
        ROLE_PERSONNEL : ROLE_USER
        #ROLE_SUPERVISEUR : [ROLE_CLIENT, ROLE_PERSONNEL]
        ROLE_SUPERVISEUR : ROLE_PERSONNEL
        ROLE_ADMIN : ROLE_SUPERVISEUR
        ROLE_SUPER_ADMIN : [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]
    encoders:
        App\Entity\User:
            algorithm: auto

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: true
            lazy: true
            provider: app_user_provider
            guard:
                authenticators:
                    - App\Security\LoginFormAuthenticator
            logout:
                path: app_logout
                # where to redirect after logout
                # target: app_any_route

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }
        - { path: ^/client, roles: ROLE_CLIENT }
        - { path: ^/carte, roles: ROLE_CLIENT }
        - { path: ^/payement, roles: ROLE_CLIENT }
        - { path: ^/vehicule, roles: ROLE_PERSONNEL }
        - { path: ^/reservation, roles: ROLE_USER }
        - { path: ^/paiement, roles: ROLE_PERSONNEL }
        - { path: ^/user, roles: ROLE_ADMIN }
        - { path: ^/agence, roles: ROLE_ADMIN }
        - { path: ^/message, roles: ROLE_ADMIN }
        - { path: ^/contact, roles: ROLE_ADMIN }
        - { path: ^/type, roles: ROLE_ADMIN }
        - { path: ^/avis, roles: ROLE_ADMIN }
        - { path: ^/mode, roles: ROLE_ADMIN }        
        - { path: ^/mode/paiement, roles: ROLE_ADMIN }
        - { path: ^/mode/reservation, roles: ROLE_ADMIN }
        - { path: ^/marque, roles: ROLE_ADMIN }
        - { path: ^/etat, roles: ROLE_ADMIN }
        - { path: ^/etat/reservation, roles: ROLE_ADMIN }        
        - { path: ^/faq, roles: ROLE_ADMIN }
        # - { path: ^/payement/{id}/edit, roles: ROLE_ADMIN }
        # - { path: ^/payement/, roles: ROLE_ADMIN }
        # - { path: ^/vehicule/{id}/edit, roles: ROLE_ADMIN }
        # - { path: ^/vehicule/, roles: ROLE_ADMIN }
        # - { path: ^/reservation/{id}/edit, roles: ROLE_ADMIN }
        # - { path: ^/reservation/, roles: ROLE_ADMIN }
