{% extends 'base2.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block content %}
    <h1>Modification véhicule</h1>

    {{ include('vehicule/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('vehicule_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
