{% extends 'base2.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block content %}
    <h1>Modification véhicule</h1>

    {{ include('vehicule/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('vehicule_index') }}">retour</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
