{% extends 'base2.html.twig' %}

{% block title %}New Vehicule
{% endblock %}

{% block content %}
	{# <h1>Ajout de véhicule</h1> #}

	{# {{ include('vehicule/_form.html.twig') }} #}

	{# <a href="{{ path('vehicule_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>retour</a> #}

		<div class="x_panel"> <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
			<div class="row">
				<div class="col-md-6 ">

					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 " for="marque">
							Marque :
						</label>
						<div class="col-md-9 col-sm-9 ">
							<input type="text" id="first-name" required="required" class="form-control ">
						</div>
					</div>
					<div class="item form-group">
						<label class="col-form-label col-md-4 col-sm-4 " for="last-name">Immatriculation :
						</label>
						<div class="col-md-8 ">
							<input type="text" id="last-name" name="last-name" required="required" class="form-control">
						</div>
					</div>
					<div class="item form-group">
						<label class="col-form-label col-md-4 col-sm-4 ">
							Date acquisation :
						</label>
						<div class="col-md-8 ">
							<input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
							<script>
								function timeFunctionLong(input) {
setTimeout(function () {
input.type = 'text';
}, 60000);
}
							</script>
						</div>
					</div>
					<div class="item form-group">
						<label class="col-form-label col-md-4 col-sm-4 ">Date première immatriculation :
						</label>
						<div class="col-md-8 ">
							<input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
							<script>
								function timeFunctionLong(input) {
setTimeout(function () {
input.type = 'text';
}, 60000);
}
							</script>
						</div>
					</div>

					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 " for="last-name">Couleur :
						</label>
						<div class="col-md-9 ">
							<select id="heard" class="form-control" required>
								<option value="">Choose..</option>
								<option value="press">Press</option>
								<option value="net">Internet</option>
								<option value="mouth">Word of mouth</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6">

					<div class="item form-group">
						<label class="col-form-label col-md-3 col-sm-3 " for="last-name">Modèle :
						</label>
						<div class="col-md-9 ">
							<select id="heard" class="form-control" required>
								<option value="">Choisissez..</option>
								<option value="press">Press</option>
								<option value="net">Internet</option>
								<option value="mouth">Word of mouth</option>
							</select>
						</div>
					</div>
					<div class="item form-group">
						<label class="col-form-label col-md-5 col-sm-5 " for="marque">
							Nombre mois utilisation locative :
						</label>
						<div class="col-md-7 d-flex" style="vertical-align:middle !important">
							<input type="text" id="first-name" required="required" class="form-control ">
						</div>
					</div>
					<div class="item form-group">
						<label class="col-form-label col-md-5 col-sm-5 " for="marque">
							Prix acquisation :
						</label>
						<div class="col-md-7 ">
							<input type="text" id="first-name" required="required" class="form-control ">
						</div>
					</div>

				</div>
			</div>

			<div class="item form-group justify-content-center mt-4">
				<button class="btn btn btn-light" type="reset">
					<i class="fa  fa-close (alias) mr-1"></i>
					Annuler</button>
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-save mr-1"></i>
					Valider</button>
			</div>
		</form>
	</div>
{% endblock %}
