{% extends 'base2.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block content %}
    <h1>Ajout de véhicule</h1>

    {{ include('vehicule/_form.html.twig') }}

    <a href="{{ path('vehicule_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>
{% endblock %}
