{% extends 'baseClient2.html.twig' %}
{% form_theme form 'form/tailwind_daisyui.html.twig' %}

{% block title %}Modifier mot de passe
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class=" flex items-center justify-center bg-base-200 p-6">
		<div class="card w-full max-w-lg shadow-xl bg-white">
			<div class="card-body">
				<h1 class="card-title text-center font-bold mb-4">Modifier mon mot de passe</h1>

				{{ form_start(form, { attr: { class: "space-y-6" } }) }}
				{{ form_widget(form) }}
				<div class="flex justify-center">
					<button type="submit" class="btn btn-accent">Enregistrer</button>
				</div>
				{{ form_end(form) }}


			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{# Plus besoin des scripts Bootstrap / Material #}
{% endblock %}
