{# step 4 #}
<div class="row">
	<div class="col-md-3">
		<div class="alert alert-secondary btn-block h-90">
			<div class="x_title">
				<h3>
					<i class="fa fa-chevron-right"></i>
					Votre réservation
				</h3>
			</div>
			<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
			<div>
				<h3 class="heading">Agence départ
				</h3>
				<div class="content_depart">
					<p>
						<i class="fa fa-map-marker"></i>
						<span>
							Aéroport Guadeloupe via Navette
						</span><br>
						<span>
							09 Octobre 2020 - 06H00
						</span>
					</p>
				</div>
				<h3 class="heading">Agence retour
				</h3>
				<div class="content_retour">
					<p>
						<i class="fa fa-map-marker"></i>
						<span>
							Aéroport Guadeloupe via Navette
						</span><br>
						<span>
							09 Octobre 2020 - 13H00
						</span>
					</p>
				</div>
				<p>
					Soit
					<span>X</span>
					jours de location</p>

				<h3 class="heading">Prix de base de location</h3>
				<div class="prix_location">
					<span class="prix">16.20 EUR</span><br>
					soit 16.20 euro/jour
				</div>
				<div class="prestation">
					<h3 class="heading">Presations incluses</h3>
					<ul class="pl-2">
						<li>
							<i class="fa fa-check"></i>
							Kilométrage Illimité
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance accidents causés aux tiers
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance responsabilité civile
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance collision (CDW)
						</li>
						<li>
							<i class="fa fa-check"></i>
							TVA 8.5 %
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<div class="col-md-9">
		<div class="x_title">
			<h2 class="font-weight-bold">
				<i class="fa fa-search"></i>
				Rechercher un client existant
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<form>
				<div
					class="form-group">
					{# <label for="formGroupExampleInput">Example label</label> #}
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nom ou email du client">
				</div>
				<form></div>
				<div class="x_title">
					<h2 class="font-weight-bold">
						<i class="fa  fa-newspaper-o"></i>
						Créer un nouveau client
					</h2>

					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form>
						<div class="row">
							<div class="col-md-6">

								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-3 col-form-label">Nom</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputEmail3">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-3 col-form-label">Prénom</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="inputPassword3">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group row">
									<label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
									<div class="col-sm-9">
										<input type="email" class="form-control" id="inputEmail3">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputPassword3" class="col-sm-3 col-form-label">Téléphone</label>
									<div class="col-sm-9">
										<input type="tel" class="form-control" id="inputPassword3">
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="row justify-content-md-center mt-4">
						<div class="col-auto pr-0 pl-0">
							<button class="btn btn-warning">
								<i class="fa fa-file-pdf-o mr-1"></i>Enregistrer le devis</button>
						</div>
						<div class="col-auto pr-0 pl-0">
							<button class="btn btn-primary">
								<i class="fa fa-envelope mr-1 "></i>Enregistrer le devis + envoi au client</button>
						</div>
						<div class="col-auto pr-0 pl-0">
							<button class="btn btn-violet">
								<i class="fa fa-check mr-1"></i>Enregistrer le devis</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{# end step 4 #}
	</div>

</div>
<!-- End SmartWizard Content -->
