<div class="card" style="height : auto;">
	<div class="card-body">
		<div class="row">
			<div class="col-md-5 col-sm-5"><img src="alt=" "" style="width:90%;" id="vehicule_photo"></div>
			<div class="col-md-7 col-sm-5">
				<div class="row">
					<div class="col-md-6">
						<div class="caracteristiques">
							<ul>

								<li>
									<i class="fa fa-battery-full"></i>
									Marque :
									<span id="vehicule_marque"></span>
								</li>
								<li>
									<i class="fa fa-battery-full"></i>
									Modele :
									<span id="vehicule_modele"></span>
								</li>
								<li>
									<i class="fa fa-battery-full"></i>
									Immatriculation :
									<span id="vehicule_immatriculation"></span>
								</li>
								<li>
									<i class="fa fa-battery-full"></i>
									Carburant :
									<span id="vehicule_carburation"></span>
								</li>
								<li>
									<i class="fa fa-sun-o" aria-hidden="true"></i>
									Boite de vitesse :
									<span id="vehicule_vitesse"></span>
								</li>

							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="caracteristiques">
							<ul>
								<li>
									<i class="fa fa-shopping-bag" aria-hidden="true"></i>
									Nombre max de bagages :
									<span id="vehicule_bagage"></span>
								</li>
								<li>
									<i class="fa fa-car" aria-hidden="true"></i>
									Nombre de portes :
									<span id="vehicule_portes"></span>
								</li>
								<li>
									<i class="fa fa-users" aria-hidden="true"></i>
									Max passagers:
									<span id="vehicule_passagers"></span>
								</li>
								<li>
									<i class="fa fa-rss" aria-hidden="true"></i>
									Atouts :
									<span id="vehicule_atouts"></span>
								</li>
								<li>
									<i class="fa fa-rss" aria-hidden="true"></i>
									Caution :
									<span id="vehicule_caution"></span>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
