/*header et menu */

#menu ul > li.current-menu-item > a {
	color: #af0000; }
	
#menu ul > li > a {
    font-weight:normal }

header{
	height: 90px;
	background-color: #EFE7DB;

}
.logo-column a.logo img {
	width: auto ;
height: 150px;

}
.logo-column a.logo  {
width: 150px ;
height: 150px;

}


/* .logo-column a.logo img{
	height:150px;
	width:150px;
} */

.nav-column a, .nav-column span {
	vertical-align: middle;
	color: black;
	width: auto;
}

/* slicknav */

.slicknav_nav a {
    text-decoration: none;
    color: black;
}

.slicknav_menu{
	background-color: #EFE7DB;
}

.slicknav_btn{
	background-color:black;
}



/* icon header */
.header-social{
	margin-left: 10px;
}
.fab{
	color:black;
	margin-right: 8px;
}

.sakawoule{

    font-family:"Monotype corsiva";
    color:black;
}

.header-social-tablet{
    display: inline-block;
    margin-top: 08px;
    margin-left: 150px;
}

.slicknav_menutxt{
	font-size: 12px;
	color:red;
}


/*media query pour responsive design*/

/*extra large device*/
@media (min-width: 1200px) {


	.site > header{
		display: block;
	}

}




/* larges devices */

@media  (min-width: 992px)and (max-width: 1199.98px) {
	.site > header{
		display: block;
	}
}

/*  medium device(tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.site >header{
		display: none !important;
	}
	/* logo size on mobile */

	.slicknav_brand    {
		width: auto;  
		height: 70px;

		position:absolute;
		top: -28px;
    }
	.slicknav_brand  a  img {
		width: auto;
		height: 90px;
	}
	.header-social-tablet{
		margin-top: 08px;
		margin-left: 200px;
	}
	.sakawoule{
        font-size: 14px;
    }
	
	
}


/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {

	.site >header{
		display: none !important;
	}
	/* logo size on mobile */

	.slicknav_brand    {
		width: auto;  
		height: 70px;

		position:absolute;
		top: -23px;
    }
	.slicknav_brand  a  img {
		width: auto;
		height: 80px;
	}
	.header-social-tablet{
		margin-top: 08px;
		margin-left: 180px;
	}
	.sakawoule{
        font-size: 14px;
    }




}

/*extra small device */
@media (max-width: 575.98px) {
	.site >header{
		display: none !important;
	}
	/* logo size on mobile */

	.slicknav_brand    {
		width: auto;  
		height: 70px;

		position:absolute;
		top: -23px;
    }
	.slicknav_brand  a  img {
		width: auto;
		height: 80px;
	}
	

    .sakawoule{
        font-size: 10px;
    }
    /* .logo_mobile{
        display: none !important;
    }
    .sakawoule{
        display: none !important;
    } */
    .slicknav_menu .slicknav_icon:before {
        width: 0.3em;
        height: .3em;
    }
	.slicknav_menu .slicknav_menutxt {
		line-height: 1.188em;
		font-weight: 500;
		text-shadow: 0 1px 3px #000;

	}
		.slicknav_menu .slicknav_icon {
			float: left;
			width: 1em;
			height: .5em;
			margin: .15em 0 0 .3em;
		}
	
}



