


/*nos véhicules*/

.single-portfolio .inner .portfolio-img:hover .hover-content {
	opacity: 0.5;
	visibility: visible; 
}


/* section roulez */

.roulez p{
	font-size: 26px;
}

.logo_roulez{
	margin: 5px;
}
.logo_roulez > .about-img > img{

	width:auto; 
	height:150px;
}
.texte_roulez{
	margin: 5px;

}
.logo_roulez{
	width:30%;
}
.roulez{
color: black;
}

.div_roulez{
	padding-left:175px;
	padding-right:175px;
}

/* a propos de nous */
.mentions_legales{
	height: 80px;
}
.description{
	text-align: justify;
}

/* margin boutton */
.button{
	margin-top: 20px;
}


/*media query pour responsive design*/

/*extra large device*/
@media (min-width: 1200px) {
	
	/* hero slider (carousel) custom*/
.hero-slider .single-slide {
	height: 400px;
}


}




/* larges devices */

@media  (min-width: 992px)and (max-width: 1199.98px) {
		/* hero slider (carousel) custom*/
.hero-slider .single-slide {
	height: 400px;
}

	.div_roulez{
		padding-left:175px;
		padding-right:175px;
	}
	.logo_roulez{
		width:40%;
	}
	.roulez p{
		font-size: 20px;
	}
	.roulez{
		padding-top: 15px;

	}

}

/*  medium device(tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
	
	.div_roulez{
		padding-left:100px;
		padding-right:100px;
	}
	.logo_roulez{
		width:40%;
	}
	.roulez p{
		font-size: 16px;
	}
	.roulez{
		padding-top: 15px;

	}

}


/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {

	.div_roulez{
		padding-left:100px;
		padding-right:100px;
	}
	.logo_roulez{
		width:40%;
	}
	
	.roulez{
		padding-top: 15px;

	}


}

/*extra small device */
@media (max-width: 575.98px) {
	
		/* hero slider (carousel) custom*/
	.hero-slider .single-slide {
		height: auto;
	}	
	/* deuxième logo en bas du carousel */
	.roulez p{
		font-size: 12px;
	}
	.logo_roulez{
		width:25%;
	}
	.texte_roulez{
		text-align: top;
	}
	.logo_roulez >.about-img > img{
		width:auto; 
		height:50px;
	}
	.div_roulez{
		padding-left:0;
		padding-right:0;
	}

	

}



