{% extends 'base2.html.twig' %}

{% block title %}New Reservation
{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-plus"></i>Nouvelle résérvation</h2>
{% endblock %}
{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
	{# test table  #}


	<div class="x_panel " id="reservation2">
		<div class="x_title">
			<h2>
				<i class="fa fa-plus"></i>Nouvelle résérvation</h2>
			<div class="clearfix"></div>
		</div>

		{{ include('reservation/_form.html.twig', {'button_label': 'Enregistrer'}) }}

		<a href="{{ path('reservation_index') }}" class="btn btn-dark">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			Retour</a>
	</div>


{% endblock %}
{% block javascripts %}
	<script src="../../js/admin/reservation_new_ajax.js"></script>
	<!-- Datatables -->
	<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock %}
