{% extends 'base2.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Nouvelle reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">retour</a>
{% endblock %}
