{% extends 'base2.html.twig' %}

{% block title %}Détail contrat terminé
{% endblock %}


{% block stylesheets %}
	<!-- bootstrap-datetimepicker -->
	<link
	href="../../admin/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<!-- Ion.RangeSlider -->
	<link href="../../admin/vendors/normalize-css/normalize.css" rel="stylesheet">
	<link href="../../admin/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
	<link
	href="../../admin/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
	<!-- Bootstrap Colorpicker -->
	<link href="../../admin/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
	<link href="../../admin/vendors/cropper/dist/cropper.min.css" rel="stylesheet">
	<link href="../../css/admin/smart_wizard_all.css" rel="stylesheet">
	<link href="../../css/admin/jquery-ui.css" rel="stylesheet">
	<link href="../../css/admin/vente_comptoir.css" rel="stylesheet">
{% endblock %}
{% block current_page %}
	<h2 class="text-info">
		<i class="fa fa-shopping-bag"></i>
		Vente comptoir
	</h2>
{% endblock %}
{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2 class="testfont">Réservation comptoir
			</h2>
			<div class="clearfix"></div>
		</div>
		<div
			class="x_content">
			<!-- Smart Wizard -->
			<p class="testfont">Veuillez suivre les différentes étapes de validation</p>

			<!-- SmartWizard html -->
			<div id="smartwizard">

				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="#step-1">
							<strong>Etape 1</strong>
							<br>1. Agences & Dates
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#step-2">
							<strong>Etape 2</strong>
							<br>2. Véhicules
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#step-3">
							<strong>Etape 3</strong>
							<br>3. Options & Garanties
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="#step-4">
							<strong>Etape 4</strong>
							<br>4. Récapitulatif
						</a>
					</li>
				</ul>

				<div class="tab-content">
					<div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
						{% include "admin/vente_comptoir/steps/step1.html.twig" %}
					</div>
					<div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
						{% include "admin/vente_comptoir/steps/step2.html.twig" %}

					</div>
					<div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
						{% include "admin/vente_comptoir/steps/step3.html.twig" %}

					</div>
					<div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4">
						{% include "admin/vente_comptoir/steps/step4.html.twig" %}

					</div>
				</div>
			</div>
		{% endblock %}
		{% block javascripts %}
			<!-- FastClick -->
			<script src="../../admin/vendors/fastclick/lib/fastclick.js"></script>
			<script src="../../admin/vendors/jquery/dist/jquery.min.js"></script>

			<!-- jQuery Smart Wizard -->
			<script src="../../admin/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
			<!-- bootstrap-daterangepicker -->
			<script src="../../admin/vendors/moment/min/moment.min.js"></script>
			<script src="../../admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
			<!-- bootstrap-datetimepicker -->
			<script src="../../admin/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
			<!-- Ion.RangeSlider -->
			<script src="../../admin/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
			<!-- Bootstrap Colorpicker -->
			<script src="../../admin/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
			<!-- jquery.inputmask -->
			<script src="../../admin/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
			<!-- jQuery Knob -->
			<script src="../../admin/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
			<script src="../../js/admin/reservation_new_ajax.js"></script>
			<script src="../../js/admin/vente_comptoir.js"></script>
			<script src="../../js/admin/jspdf.min.js"></script>
			<script src="../../js/admin/smartwizard-config.js"></script>
			<script src="../../js/admin/jquery-ui.js"></script>

			<script>
				// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict';
window.addEventListener('load', function () { // Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
var validation = Array.prototype.filter.call(forms, function (form) {
form.addEventListener('submit', function (event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
}
form.classList.add('was-validated');
}, false);
});
}, false);
})();
			</script>
		{% endblock %}
