{% extends 'base2.html.twig' %}

{% block title %}Détail contrat terminé
{% endblock %}


{% block stylesheets %}
	<!-- bootstrap-datetimepicker -->
	<link
	href="../../admin/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<!-- Ion.RangeSlider -->
	<link href="../../admin/vendors/normalize-css/normalize.css" rel="stylesheet">
	<link href="../../admin/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
	<link
	href="../../admin/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
	<!-- Bootstrap Colorpicker -->
	<link href="../../admin/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
	<link href="../../admin/vendors/cropper/dist/cropper.min.css" rel="stylesheet">
	<link href="../../css/admin/vente_comptoir.css" rel="stylesheet">
{% endblock %}
{% block current_page %}
	<h2 class="text-info">
		<i class="fa fa-shopping-bag"></i>
		Vente comptoir
	</h2>
{% endblock %}
{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2 class="testfont">Réservation comptoir
			</h2>
			<div class="clearfix"></div>
		</div>
		<div
			class="x_content">
			<!-- Smart Wizard -->
			<p class="testfont">Veuillez suivre les différentes étapes de validation</p>
			<div id="wizard" class="form_wizard wizard_horizontal">
				<ul class="wizard_steps">
					<li>
						<a href="#step-1">
							<span class="step_no">1</span>
							<span class="step_descr">
								1. Agences & Dates
								{# <small>Step 1 description</small> #}
							</span>
						</a>
					</li>
					<li>
						<a href="#step-2">
							<span class="step_no">2</span>
							<span class="step_descr">
								2. Véhicules
								{# <small>Step 2 description</small> #}
							</span>
						</a>
					</li>
					<li>
						<a href="#step-3">
							<span class="step_no">3</span>
							<span class="step_descr">
								3. Options & Garanties
								{# <small>Step 3 description</small> #}
							</span>
						</a>
					</li>
					<li>
						<a href="#step-4">
							<span class="step_no">4</span>
							<span class="step_descr">
								4. Récapitulatif
								{# <small>Step 4 description</small> #}
							</span>
						</a>
					</li>
				</ul>
				<div id="step-1">
					{% include "admin/vente_comptoir/steps/step1.html.twig" %}
				</div>
				<div id="step-2">
					{% include "admin/vente_comptoir/steps/step2.html.twig" %}
				</div>
				<div id="step-3">
					{% include "admin/vente_comptoir/steps/step3.html.twig" %}
				</div>
				<div id="step-4">
					{% include "admin/vente_comptoir/steps/step4.html.twig" %}
				</div>
			</div>
		{% endblock %}
		{% block javascripts %}
			<!-- FastClick -->
			<script src="../../admin/vendors/fastclick/lib/fastclick.js"></script>
			<!-- jQuery Smart Wizard -->
			<script src="../../admin/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
			<!-- bootstrap-daterangepicker -->
			<script src="../../admin/vendors/moment/min/moment.min.js"></script>
			<script src="../../admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
			<!-- bootstrap-datetimepicker -->
			<script src="../../admin/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
			<!-- Ion.RangeSlider -->
			<script src="../../admin/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
			<!-- Bootstrap Colorpicker -->
			<script src="../../admin/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
			<!-- jquery.inputmask -->
			<script src="../../admin/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
			<!-- jQuery Knob -->
			<script src="../../admin/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
			<script src="../../js/admin/reservation_new_ajax.js"></script>
			<script src="../../js/admin/vente_comptoir.js"></script>
		{% endblock %}
