{% extends 'base2.html.twig' %}

{% block title %}Edit ModePaiement{% endblock %}

{% block content %}
    <h1>Modification du mode de paiement</h1>

    {{ include('mode_paiement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('mode_paiement_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>

    {{ include('mode_paiement/_delete_form.html.twig') }}
{% endblock %}
