{% extends 'base2.html.twig' %}

{% block title %}Détail contrat terminé
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link
	href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="../../admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../css/admin/detail.css" rel="stylesheet">

{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="row">
			<div class="col-auto">
				<div class="btn-group mb-1">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Réservation
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Reporter la réservation</a>
						<a class="dropdown-item" href="#">Mail de confirmation</a>
						<a class="dropdown-item" href="#">Annuler la réservation</a>
						<a class="dropdown-item" href="#">Fermer le contrat</a>
						<a class="dropdown-item" href="#">Archiver la réservation</a>
					</div>
				</div>
			</div>
			<div class="col-auto"></div>
		</div>

		<div class="alert alert-danger" role="alert">
			<div class="text-center">
				<button class=" btn btn-light">
					<i class="fa fa-exchange"></i>
					Affecter un véhicule</button>
			</div>
		</div>
		<div class="info_client">
			<div class="x_title mb-0">
				<h2>
					<i class="fa fa-chevron-right"></i>informations client
				</h2>

				<div class="clearfix"></div>

			</div>

			{# butons en dessous titre #}
			<button type="button" class="btn btn-outline-dark">
				<i class="fa fa-car"></i>
				kilometrage</button>
			<button type="button" class="btn btn-outline-violet">
				<i class="fa  fa-file-pdf-o"></i>
				Générer le détail</button>
			<button type="button" class="btn btn-outline-danger">
				<i class="fa fa-newspaper-o"></i>
				Générer le contrat</button>
			<button type="button" class="btn btn-outline-warning">
				<i class="fa fa-arrows-h"></i>
				Générer le voucher</button>
			<button type="button" class="btn btn-outline-dark">
				<i class="fa fa-send (alias)"></i>
				Envoyer le voucher</button>
			<button type="button" class="btn btn-outline-info">
				<i class="fa fa-file-zip-o (alias)"></i>
				Générer la facture</button>
			<button type="button" class="btn btn-outline-success">
				<i class="fa fa-send (alias)"></i>
				Envoyer la facture</button>

			<div
				class="x_content">


				{# fin bouton #}

				<div class="row">
					<div class="col-md-2">
						<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
					</div>
					<div class="col-md-10 info_client">
						<div class="row">
							<div class="col-md-4">
								<span class="label_client">Client :</span>
								<span>CADOCE Jimmy</span>
							</div>
							<div class="col-md-4">
								<span class="label_client">Email :</span>
								<span>robert.sandrine2@club-internet.fr</span>
							</div>
							<div class="col-md-4">
								<span class="label_client">Téléphone(s):</span>
								<span>000000000</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<span class="label_client">adresse:</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<span class="label_client">Référence :</span>
							</div>
							<div class="col-md-4">
								<span class="label_client">Date de création :</span>
							</div>
							<div class="col-md-4">
								<span class="label_client">Catégorie :</span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<span class="label_client">Véhicule :</span>
							</div>
							<div class="col-md-4">
								<span class="label_client">Code affilié :</span>
							</div>
							<div class="col-md-4">
								<span class="label_client">Code partenaire :</span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<span class="label_client">Partenaire :</span>
							</div>
							<div class="col-md-4">
								<span class="label_client">Destination :</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<span class="label_client">Km départ :</span>
							</div>
							<div class="col-md-3">
								<span class="label_client">Km retour :</span>
							</div>
							<div class="col-md-3">
								<span class="label_client">Date mise à jour km :</span>
							</div>
							<div class="col-md-3">
								<span class="label_client">Km saisie par :</span>
							</div>
						</div>
						<div class=" text-center">
							<button type="button" class="btn btn-primary text-nowrap">
								<i class="fa fa-home"></i>Modifier les informations</button>
							<button type="button" class="btn btn-dark text-nowrap">
								<i class="fa fa-reply-all"></i>Retour anticipé</button>
							<button type="button" class="btn btn-success text-nowrap">
								<i class="fa fa-cog"></i>
								Modifier la réservation</button>
							<button type="button" class="btn btn-danger text-nowrap">
								<i class="fa fa-edit (alias)"></i>
								Modifier les options & garanties</button>
							<button type="button" class="btn btn-warning text-nowrap">
								<i class="fa  fa-send-o (alias)"></i>
								Envoyer les identifians de connexion</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>INFORMATIONS CONDUCTEUR(S)
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content ">
			<div class="text-center">
				<button class="btn btn-primary">
					<i class="fa fa-plus"></i>
					Ajouter conducteur</button>
			</div>

			<div class="x_title">
				<h4>Conducteur n°1</h4>
			</div>
			<p>Conducteur principal</p>
			<div class="row">
				<div class="col-md-3">
					<span class="label_conducteur">Nom/Prénom :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Permis :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Obtention :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Date délivrance :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Ville délivrance :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Date de naissance :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Ville de naissance :</span>
				</div>
				<div class="col-md-3">
					<button class="btn btn-warning">
						<i class="fa fa-reply"></i>
					</button>
					<button class="btn btn-danger">
						<i class="fa fa-close (alias)"></i>
					</button>
				</div>
			</div>


		</div>

		{# périod de location #}
		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>PERIODE DE LOCATION
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content periode_location">
			<div class="row">
				<div class="col-md-6">
					<span class="label_periode">Départ :</span>
					<p>Le Moule
						<br>21 Décembre 2020 - 15H30</p>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Retour :</span>
					<p>Le Moule
						<br>30 Décembre 2020 - 18H30</p>

				</div>
				<div class="col-md-6">
					<span class="label_periode">
						Vol arrivée :</span>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Vol retour :</span>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Nombre de personne :</span>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Note client :</span>
					<div class="alert alert-secondary" role="alert"></div>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Informations internes :</span>
					<div class="alert alert-secondary" role="alert"></div>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Motif annulation :</span>
					<div class="alert alert-secondary" role="alert"></div>
				</div>

			</div>
			<div>
				<h3 class="text-center">
					SOIT
					<span style="color:red">11 JOURS</span>
					DE LOCATION
				</h3>
			</div>
		</div>
		{# options et garanties souscrites #}
		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>OPTIONS ET GARANTIES SOUSCRITES
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<p>
				option(s) souscrite(s):
			</p>
			<p>
				Garantie(s) souscrite(s):
			</p>
			<p>
				Taxes de dépassement horaire
			</p>

		</div>

		{# Montant de la reservation #}
		<div class="x_title">
			<div class="row">
				<div class="col-auto pl-2">
					<h2>
						<i class="fa fa-chevron-right"></i>MONTANT DE LA RESERVATION
					</h2>
				</div>
				<div class="col-auto ml-auto d-flex align-items-center">
					<div class="">
						300.00 €
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="x_content ">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Location NDMR 11 jours
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total dépassements horaires
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total options souscrites
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total garanties souscrites

				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant de la remise
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant à régler
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>


			</div>

		</div>

		{# options et garanties souscrites #}
		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>réglement(s)
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="d-flex justify-content-end">
				<div class="btn-group mb-1">
					<button type="button" class="btn btn-danger dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Autre réglement
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Reporter la réservation</a>
						<a class="dropdown-item" href="#">Mail de confirmation</a>
						<a class="dropdown-item" href="#">Annuler la réservation</a>
						<a class="dropdown-item" href="#">Fermer le contrat</a>
						<a class="dropdown-item" href="#">Archiver la réservation</a>
					</div>
				</div>
			</div>
			<table class="table table-bordered text-center">
				<thead class="table-dark">
					<tr>
						<th>date</th>
						<th>type</th>
						<th>méthode</th>
						<th>référence</th>
						<th>montant</th>
						<th>motif</th>
						<th>action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mark</td>
						<td>Mark</td>
						<td>Mark</td>
						<td>Mark</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>

				</tbody>
			</table>

			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant de la remise
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant à régler
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock  %}
