{% extends 'base2.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
    <h1>Nouveau Avis</h1>

    {{ include('avis/_form.html.twig') }}

    <a href="{{ path('avis_index') }}">retour</a>
{% endblock %}
