{% extends 'baseClient.html.twig' %}

{% block title %}page client
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div class="x_panel">
		<div class="x_title">
			<h6 class="mb-0 pb-0 text-uppercase">chercher un conducteur</h6>
		</div>
		<input type="text" class="form-control" name="nom_conducteur">
	</div>

	<div class="x_panel">
		<div class="x_title">
			<h6 class="text-uppercase mb-0 pb-0">informations conducteur</h6>
		</div>
	</div>
	<div class="x_panel">
		<div class="x_title">
			<h6 class="text-uppercase mb-0 pb-0">informations permis:</h6>
		</div>
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
