<form method="post" action="{{ path('etat_reservation_delete', {'id': etat_reservation.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet etat de la reservation?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat_reservation.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
