{% extends 'base2.html.twig' %}

{% block title %}Edit EtatReservation{% endblock %}

{% block content %}
    <h1>Modification Etat de la Reservation</h1>

    {{ include('etat_reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('etat_reservation_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>

    {{ include('etat_reservation/_delete_form.html.twig') }}
{% endblock %}
