{% extends 'base2.html.twig' %}

{% block title %}New EtatReservation{% endblock %}

{% block content %}
    <h1>Nouveau etat de reservation</h1>

    {{ include('etat_reservation/_form.html.twig') }}

    <a href="{{ path('etat_reservation_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>
{% endblock %}
