{% extends 'base2.html.twig' %}

{% block title %}New EtatReservation{% endblock %}

{% block body %}
    <h1>Nouveau etat de reservation</h1>

    {{ include('etat_reservation/_form.html.twig') }}

    <a href="{{ path('etat_reservation_index') }}">retour</a>
{% endblock %}
