monolog:
    channels: ['payment', 'signature']
    handlers:
        main:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
            channels: ["!event"]
        # uncomment to get logging in your browser
        # you may have to allow bigger header sizes in your Web server configuration
        #firephp:
        #    type: firephp
        #    level: info
        #chromephp:
        #    type: chromephp
        #    level: info
        payment:
            type: rotating_file
            path: '%kernel.logs_dir%/payment.log'
            level: info
            channels: ['payment']
            max_files: 10
        
        signature:
            type: rotating_file
            path: '%kernel.logs_dir%/signature/contract-signature.log'
            level: info
            channels: ['signature']
            max_files: 30
            formatter: monolog.formatter.json

        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine", "!console"]
