<form method="post" action="{{ path('tarif_delete', {'id': tarif.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce tarif?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarif.id) }}">
	<button class="btn btn-danger">
		<i class="fa fa-trash" aria-hidden="true"></i>
		Supprimer</button>
</form>
