{% extends 'base2.html.twig' %}

{% block title %}Modifier tarif
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block current_page %}
	<h2>
		<i class="fa fa-edit"></i>
		Modifier tarif
	</h2>
{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-edit"></i>Modifier tarif</h2>
			<div class="clearfix"></div>
		</div>

		{{ include('admin/tarifs/_formEdit.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('tarifs_index') }}" class="btn btn-primary">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			retour</a>

		{{ include('admin/tarifs/_delete_form.html.twig') }}
	</div>
{% endblock %}
