{# Composant pour les boutons d'appel à l'action #}
<div class="d-flex justify-content-center">
    <div>
        <a href="{{ url }}" class="button {{ class|default('') }}">{{ text|default('Demander un devis') }}</a>
    </div>
</div>
