{# Composant pour les titres de section #}
<div class="section-title text-center {{ color_class|default('') }}">
	<h1>{{ title }}</h1>
	{% if subtitle is defined %}
		<p>{{ subtitle }}</p>
	{% endif %}
</div>
