{% extends 'base2.html.twig' %}

{% block title %}Edit Faq{% endblock %}

{% block content %}
    <h1>Modification de la faq</h1>

    {{ include('faq/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('faq_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>

    {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
