{% extends 'base2.html.twig' %}

{% block title %}New Faq{% endblock %}

{% block content %}
    <h1>Nouveau Faq</h1>

    {{ include('faq/_form.html.twig') }}

    <a href="{{ path('faq_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>
{% endblock %}
