{% extends 'base2.html.twig' %}

{% block title %}Appel paiement
{% endblock %}


{% block stylesheets %}
	<!-- bootstrap-wysiwyg -->
	<link
	href="../../admin/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
	<!-- Select2 -->
	<link
	href="../../admin/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
	<!-- Switchery -->
	<link
	href="../../admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
	<!-- starrr -->
	<link
	href="../../admin/vendors/starrr/dist/starrr.css" rel="stylesheet">
	<!-- bootstrap-daterangepicker -->
	<link href="../../admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

	<link
	href="../../admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
	<!-- bootstrap-datetimepicker -->
	<link
	href="../../admin/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<!-- Ion.RangeSlider -->
	<link href="../../admin/vendors/normalize-css/normalize.css" rel="stylesheet">
	<link href="../../admin/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
	<link href="../../admin/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

{% endblock %}

{% block current_page %}
	<h2>
		<i class="fa fa-euro"></i>Chiffre d'affaire</h2>
{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="text-center ">
			<h2 style=" font-weight: 900 !important;">CHIFFRE D'AFFAIRE</h2>
			<h2 class="text-uppercase text-danger font-weight-bold">
				du 01 octobre 2020 au 31 octobre 2020
			</h2>
		</div>

		<div class="x_content">
			<div class="row mb-4">
				<div class="col-auto">
					<label for="" class="font-weight-bold">Période :</label>
					<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
						<i class="fa fa-calendar"></i>&nbsp;
						<span></span>
						<i class="fa fa-caret-down"></i>
					</div>

				</div>
				<div class="col-auto">
					<label for="" class="font-weight-bold text-white">test
					</label>
					<div>
						<button class="btn btn-primary">
							<i class="fa fa-search mr-2"></i>Calculer</button>
					</div>
				</div>
			</div>
			<table class="table table-bordered simpletable ">
				<thead class="text-center">
					<tr>
						<th>FAMILLE</th>
						<th>CA</th>
						<th>WEB</th>
						<th>CPT</th>
						<th>RESAS</th>
						<th>PRIX/J</th>
						<th>STOP SALE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Mark</td>
						<td>Mark</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>Thornton</td>
						<td>Thornton</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>the Bird</td>
						<td>the Bird</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<!-- bootstrap-daterangepicker -->

	<script src="../../admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	<!--bootstrap-wysiwyg-->
	<script src="../../admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
	<script src="../../admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
	<script src="../../admin/vendors/google-code-prettify/src/prettify.js"></script>
	<!-- jQuery Tags Input -->
	<script src="../../admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
	<!-- Switchery -->
	<script src="../../admin/vendors/switchery/dist/switchery.min.js"></script>
	<!-- Select2 -->
	<script src="../../admin/vendors/select2/dist/js/select2.full.min.js"></script>
	<!-- Parsley -->
	<script src="../../admin/vendors/parsleyjs/dist/parsley.min.js"></script>
	<!-- Autosize -->
	<script src="../../admin/vendors/autosize/dist/autosize.min.js"></script>
	<!-- jQuery autocomplete -->
	<script src="../../admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
	<!-- starrr -->
	<script src="../../admin/vendors/starrr/dist/starrr.js"></script>
	<!-- Custom Theme Scripts -->
	<script src="../../admin/build/js/custom.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script src="../../admin/vendors/moment/moment.js"></script>
	{# manova anle langue ho francais amle moment #}
	<script src="../../plugins/moment/locale/fr.js"></script>
	<script type="text/javascript" src="../../admin\vendors\bootstrap-daterangepicker\daterangepicker.js"></script>
	<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
	<script src="../../js/admin/bootstrap-datepicker.fr.min.js"></script>
	<script type="text/javascript">


		$(function () {

var start = moment().subtract(29, 'days');
var end = moment();


function cb(start, end) {
$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
}

$('#reportrange').daterangepicker({

startDate: start, endDate: end,
// showDropdowns: true,
// esoria le oe 1 mois fona ny intervalle
// linkedCalendars: false,

// maxYear: parseInt(moment().format('YYYY'), 10),
// maxMouth: parseInt(moment().format('MMMM'), 10),
ranges: {
'Today': [
moment(), moment()
],
'Yesterday': [
moment().subtract(1, 'days'),
moment().subtract(1, 'days')
],
'Last 7 Days': [
moment().subtract(6, 'days'),
moment()
],
'Last 30 Days': [
moment().subtract(29, 'days'),
moment()
],
'This Month': [
moment().startOf('month'), moment().endOf('month')
],
'Last Month': [
moment().subtract(1, 'month').startOf('month'),
moment().subtract(1, 'month').endOf('month')
]
}
}, cb);

cb(start, end);

});
	</script>
{% endblock  %}
