{% extends 'base2.html.twig' %}

{% block title %}Edit Paiement{% endblock %}

{% block body %}
    <h1>Modification du paiement</h1>

    {{ include('paiement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('paiement_index') }}">retour</a>

    {{ include('paiement/_delete_form.html.twig') }}
{% endblock %}
