{% extends 'base2.html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}
    <h1>Nouveau paiement</h1>

    {{ include('paiement/_form.html.twig') }}

    <a href="{{ path('paiement_index') }}">retour</a>
{% endblock %}
