{% extends 'base2.html.twig' %}

{% block title %}Sop sales véhicules
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<link href="../../css/admin/vehicules.css" rel="stylesheet">

{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-list mr-1"></i>
				Liste des réservations
			</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li>
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</li>
				<li>
					<a class="close-link">
						<i class="fa fa-close"></i>
					</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive ">

						<table id="datatable" class="table table-bordered text-center" style="width:100%">
							<thead>
								<tr class="text-uppercase text-center">
									<th>date début</th>
									<th class="text-nowrap">date fin</th>
									<th>immatriculation</th>
									<th class="text-nowrap">motif</th>
									<th class="text-nowrap">commentaire</th>
									<th>état</th>
									<th>action</th>
								</tr>
							</thead>


							<tbody>
								<tr class="text-center">
									<td>
										01 Novembre 2020 - 00H00
									</td>
									<td>
										<span>Javascript Developer
										</span>
									</td>
									<td>Singapore</td>
									<td>29</td>
									<td>2011/06/27</td>
									<td>
										<div class="badge badge-primary p-2">Validé</div>
									</td>
									<td class="text-center">
										<button class="btn btn-outline-violet">
											<i class="fa  fa-mail-reply-all (alias)"></i>
										</button>
										<button class="btn btn-outline-warning">
											<i class="fa fa-trash"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</tr>
					</tbody>
					<tr>
						<td>
							01 Novembre 2020 - 00H00
						</td>
						<td>New York</td>
						<td>27</td>
						<td>2011/01/25</td>
						<td>2011/01/25</td>
						<td>
							<div class="badge badge-primary p-2">Validé</div>
						</td>
						<td class="text-center">
							<button class="btn btn-outline-violet">
								<i class="fa  fa-mail-reply-all (alias)"></i>
							</button>
							<button class="btn btn-outline-warning">
								<i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block javascripts %}<!-- Datatables --><script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="../../js/admin/datatable.fr.js"></script>
	<script></script>
{% endblock  %}
