monolog:
    channels: ['payment', 'signature']
    handlers:
        main:
            type: fingers_crossed
            action_level: error
            handler: nested
            excluded_http_codes: [404, 405]
            buffer_size: 50 # How many messages should be saved? Prevent memory leaks
        nested:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
        payment:
            type: rotating_file
            path: '%kernel.logs_dir%/payment.log'
            level: info
            channels: ['payment']
            max_files: 10
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine"]

        signature:
            type: rotating_file
            path: '%kernel.logs_dir%/signature/contract-signature.log'
            level: info
            channels: ['signature']
            max_files: 30
            formatter: monolog.formatter.json
