{% extends 'base.html.twig' %}

{% block title %}renault capture
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/vehicules.css">
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="section-title red">
			<h2>Renault Captur</h2>
		</div>
		<div class="mb-3 pl-3 d-flex">
			<div class="image_voiture">
				<img src="images/CAPTURE NOIR.png" alt="portfolio-image">
			</div>
			<div class="texte">
				<p class="text-justify">
					Avec le Renault Captur, vous pouvez parcourir des kilomètres en Guadeloupe. Cette voiture est idéale pour tous vos déplacements touristiques en famille et entre amis avec suﬃsamment de place pour tout le monde. Quel que soit l’itinéraire que vous empruntiez, entre les villes de Grande-Terre ou de Basse-Terre, notre Renault Captur est le choix parfait pour des promenades sereines.
				</p>
				<div>
					<h4>
						Conditions de location Renault Captur
					</h4>
				</div>
				<div class="conditions">
					<ul>
						<li>
							Kilométrage illimité
						</li>
						<li>
							Âge minimum : 21 ans
						</li>
						<li>
							Plus de 2 ans de permis de conduire
						</li>
						<li>
							Possibilité de régler en plusieurs fois
						</li>
						<li>
							Caution : 800 €
						</li>
					</ul>
				</div>
				<div>
					<h4>
						Caractéristiques de Renault Captur
					</h4>
				</div>
				<div class="caracteristiques">
					<ul>
						<li>
							<i class="fa fa-battery-full"></i>
							Carburant : Essence
						</li>
						<li>
							<i class="fa fa-sun-o" aria-hidden="true"></i>
							Boite de vitesse : Manuelle
						</li>
						<li>
							<i class="fa fa-shopping-bag" aria-hidden="true"></i>
							Nombre max de bagages : 3
						</li>
						<li>
							<i class="fa fa-car" aria-hidden="true"></i>
							Nombre de portes : 5
						</li>
						<li>
							<i class="fa fa-users" aria-hidden="true"></i>
							Max passagers: 5
						</li>
						<li>
							<i class="fa fa-rss" aria-hidden="true"></i>
							Atouts : autoradio, climatisation, fermeture centralisée
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div>
				<a href="{{ path('accueil') }}#contact" class="button">Demander un devis</a>
			</div>
		</div>

	</div>
{% endblock %}
