{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="section-title red">
			<h2>Renault Capture</h2>
		</div>
		<div class="mb-3">
			<div class="float-left col-6" style="height:500px;">
				<img src="images/capture 1.jpg" alt="portfolio-image">
			</div>
			<div class="text-justify">
				<p>Avec le Renault Captur, vous pouvez parcourir des kilomètres en Guadeloupe. Cette voiture est idéale pour tous vos déplacements touristiques en famille et entre amis avec suffisamment de place pour tout le monde. Quel que soit le terrain de l'itinéraire que vous empruntez, entre les villes de Grande-Terre ou de Basse-Terre, notre Renault Captur est le choix parfait pour des promenades sereines.</p>
				<div>Conditions de location Renault Captur</div>
				<p>
					<span style="color:red">•</span>
					Kilométrage illimité<br>
					<span style="color:red">•</span>
					Âge minimum : 21 ans<br>
					<span style="color:red">•</span>
					Plus de 2 ans de permis de conduire<br>
					<span style="color:red">•</span>
					Possibilité de régler en plusieurs fois<br>
					<span style="color:red">•</span>
					Caution : 800 €</p>

				<div>Caractéristiques de Renault Captur</div>
				<p>
					<i class="fa fa-battery-full" aria-hidden="true"></i>
					Carburant : Essence<br>
					<i class="fa fa-sun-o" aria-hidden="true"></i>
					Boite de vitesse : Manuelle<br>
					<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					Nombre max de bagages : 3
					<br>
					<i class="fa fa-car" aria-hidden="true"></i>
					Nombre de portes : 5<br>
					<i class="fa fa-users" aria-hidden="true"></i>
					Max passagers: 5<br>
					<i class="fa fa-rss" aria-hidden="true"></i>
					Atouts : autoradio, climatisation, fermeture centralisée</p>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div>
				<a href="{{ path('accueil') }}#contact" class="button">Demander un devis</a>
			</div>
		</div>
	</div>

{% endblock %}
