{% extends 'base.html.twig' %}

{% block title %}Condition Générale de Location
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/cgl.css">

{% endblock %}

{% block body %}
    <div class="container">
		<div class="service-area bg sp">
			<div>
				<h2 class=" red">
					Conditions Générales de Location</h2>
			</div>

            <div>
                <h3 class="red">
                    TOUT CE QUE VOUS DEVEZ
                    SAVOIR AU SUJET DE
                    VOTRE LOCATION CHEZ JOEL LOCATION
                </h3>
            </div>
            <h4>VOTRE LOCATION EN QUELQUES POINTS CLES</h4>
            <p>Ce résumé a pour objet de vous permettre de mieux comprendre ce qui est inclus dans votre Contrat de Location et ce qui en est exclu. Vous y découvrirez également les options disponibles pour optimiser votre voyage.</p>
            <div>
                <div style="font-size:25px;"><strong>QUELQUES ASTUCES TRÈS UTILES</strong></div><br>
                <strong>1. VOTRE RESPONSABILITÉ</strong><br>
                Vous engagez votre responsabilité envers nous lorsque le véhicule loué est perdu ou endommagé, de même que pour les amendes ou autres frais pouvant s’appliquer pendant la durée de la location.<br>
                <strong>2. DOMMAGES</strong><br>
                Vous devez vérifier le véhicule afin de vous assurer qu’il est exempt de tout dommage avant de prendre la route. Il vous incombe également de consigner le moindre écart observé dans la Fiche d’État du Véhicule. Ceci permettra d’éviter les litiges quant à d’éventuels dommages au moment de la restitution.<br>
                <strong>3. ASSURANCE & GARANTIES OPTIONNELLES</strong><br>
                Lisez attentivement votre Contrat de Location afin de bien comprendre quelles sont vos obligations dans le cadre de votre utilisation du véhicule et gardez à l’esprit que l'assurance et les garanties optionnelles éventuellement applicables pourront être frappées de nullité en cas de manquement de votre part à vos obligations contractuelles.<br>
                <strong>4. RESTITUTION</strong><br>
                Des frais supplémentaires vous seront facturés si vous restituez le véhicule à une heure ou dans un lieu autres que ceux stipulés au contrat, ou encore, si le véhicule se trouve dans un état de saleté avancé ou qu’il nécessite davantage qu’un nettoyage standard/ mauvaises odeurs (nettoyage spécifique). Vous encourez des frais supplémentaires si vous fumez dans le véhicule.<br>
                <strong>5. RESTITUTION EN DEHORS DES HEURES D’OUVERTURE</strong><br>
                Si nous consentons à ce que vous restituiez le véhicule en dehors des heures d’ouverture de l’agence, sachez que vous restez entièrement responsable du véhicule jusqu’à ce que notre personnel le prenne en charge au moment de la réouverture de l’agence.<br>
                <strong>6. ANNULATION DE LA RESERVATION</strong><br>
                Vous pouvez annuler votre réservation <strong>sans frais</strong> si vous avez connaissance d’un <strong>événement exceptionnel et inévitable</strong> sur le lieu de destination, ou à proximité immédiate de celui-ci. Exemples d’événements exceptionnels et inévitables concernés par l’annulation : Climatiques (ouragans, cyclones…), Sanitaires (dengue, Zika…), Politiques (attentats, émeutes...). Les circonstances personnelles peuvent invoquer l’annulation sans frais au titre de <strong>circonstances graves, exceptionnelles et inévitables :</strong> accident, hospitalisation, décès. Vous êtes tenus d’informer votre agence immédiatement avec une copie du motif.<br>
                Toute annulation pour autres motifs, entrainera des frais :<br>
                <blockquote>- Pour une annulation faite à plus de 48 heures avant la date/heure prévue de location, la déduction des frais d’annulation correspond à 60%<br>
                - Pour une annulation faite à moins de 48 heures avant la date/heure prévue de location, aucun remboursement ne sera effectué.<br>
                - Si l’agence n’est pas du tout prévenue, aucun remboursement ne sera effectué.<br></blockquote>
                Le remboursement sera fait dans les 10 jours après l’annulation de la réservation. Pour toute annulation, vous devrez faire une demande écrite en nous contactant par courriel ou message aux coordonnées figurant au dos du présent livret des Conditions Générales de Location.<br>
                Vous êtes libres de souscrire à une assurance voyage indépendante (par une assurance « moyens de paiement »)<br><br>

                <div style="font-size:25px;"><strong>CONTACTS ET RECOURS</strong></div><br>
                1. Vous pouvez vous adresser à <strong>notre personnel d’agence</strong> à la fin de la location ou contacter l’agence à tout<br>
                moment par téléphone, en appelant le numéro figurant au dos du présent livret des Conditions Générales de Location.<br>
                2. À l’issue de la location, vous avez la possibilité de nous contacter pendant les heures de bureau (en appelant le numéro figurant au dos du présent livret des Conditions Générales de Location) et notre équipe sera ravie de vous apporter son aide, quel que soit votre problème.<br>
                <table style="border:solid;border-width:1px;">
                    <thead>
                        <tr>
                            <th style="border:solid;border-width:1px;width:300px;"><strong>CE QUI EST INCLUS</strong></th>
                            <th style="border:solid;border-width:1px;width:300px;"><strong>CE QUI N'EST PAS INCLUS</strong></th>
                        </tr>
                    </thead>
                    <tbody style="font-style:italic;">
                        <tr>
                            <td style="border:solid;border-width:1px;">
                                <p class="red" style="color:#850606;"><strong>ASSURANCE RESPONSABILITE CIVILE</strong></p>
                                Une assurance responsabilité civile est incluse dans le prix que vous payez. Elle vous protège, vous ou tout autre conducteur autorisé, contre les réclamations qui pourraient être faites par des tiers suites à un décès, une blessure ou tout dommage matériel si vous veniez à avoir un accident.
                            </td>
                            <td style="border:solid;border-width:1px;">
                                Vous pouvez ajouter un conducteur supplémentaire avec notre autorisation. Nous demanderons à voir son permis de conduire et des frais supplémentaires s’appliqueront à partir de trois conducteurs.
                            </td>
                        </tr>
                        <tr>
                            <td style="border:solid;border-width:1px;">
                                <p class="red" style="color:#850606;"><strong>CARBURANT</strong></p>
                                Votre véhicule de location vous est remis avec un réservoir plein. Vous devez restituer le véhicule avec le plein de carburant.
                            </td>
                            <td style="border:solid;border-width:1px;">
                                Si le véhicule est retourné avec un réservoir inférieur du plein, quel que soit le niveau, vous serez facturé un forfait de Refuelling, comme indiqué sur le contrat de Location.
                            </td>
                        </tr>
                        <tr>
                            <td style="border:solid;border-width:1px;">
                                <p class="red" style="color:#850606;"><strong>ASSISTANCE</strong></p>
                                Une Assistance de base est incluse dans la location et prend en charge les appels liés à une défaillance mécanique ou à un accident.
                            </td>
                            <td style="border:solid;border-width:1px;">
                                Vous pouvez souscrire une assurance supplémentaire afin de couvrir les incidents qui sont de votre fait (tels que batterie déchargée, les clés perdues ou oubliées à l’intérieur du véhicule, ou l’utilisation d’un carburant inadapté), avec notre Assistance Premium.
                            </td>
                        </tr>
                        <tr>
                            <td style="border:solid;border-width:1px;">
                                <p class="red" style="color:#850606;"><strong>ÉQUIPEMENTS</strong></p>
                                Le prix que vous payez inclus tous les équipements obligatoires.
                            </td>
                            <td style="border:solid;border-width:1px;">
                                Vous pouvez choisir des équipements supplémentaires dans la gamme que nous proposons, notamment des <strong>sièges nourrissons, sièges bébés et des rehausseurs pour enfant.</strong> Sous réserve de disponibilité.
                            </td>
                        </tr>
                        <tr>
                            <td style="border:solid;border-width:1px;">
                                <p class="red" style="color:#850606;"><strong>KILOMÉTRAGE</strong></p>
                                Bien qu’aucune limitation de la distance ne soit fixée pendant votre location, des exceptions peuvent avoir été prévues à votre Contrat de Location.
                            </td>
                            <td style="border:solid;border-width:1px;">
                                Nous ne prenons pas en charge <strong>vos amendes de stationnement,</strong> vos frais de parkings privés, ou d'<strong>infractions au code de la route</strong> que vous pourriez commettre pendant votre location.
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="font-size:25px;"><strong>INFORMATIONS DE BASE</strong></div><br>
                <strong>LE CONTRAT DE LOCATION</strong><br>
                Votre Contrat de Location est le document que vous signez lorsque vous récupérez votre véhicule de location (il est généralement intitulé « Contrat de Location ») et qui inclut le détail de votre location (par ex. : durée, services choisis et une estimation des frais). En signant ce document, vous reconnaissez que les informations qu’il mentionne sont correctes et vous approuvez les dispositions suivantes :<br>
                – les Conditions Générales de Location et<br>
                Le Contrat de Location est conclu avec la société Joel Location, et toutes les références à « Joel Location », « nous » et « notre » désignent cette entreprise.<br>
                <strong>RESPONSABILITÉ</strong><br>
                Notre responsabilité envers vous : Nous sommes tenus de vous fournir un véhicule en bon état général et en bon état de fonctionnement, et d’assurer son remplacement en cas de panne. Notre responsabilité contractuelle sera engagée vis-à-vis de vous en cas de décès ou de blessure corporelle qui résulteraient de nos propres agissements ou omissions. Notre responsabilité ne s’étend cependant pas aux autres pertes pouvant découler de votre location, à moins que ces pertes ne soient la conséquence directe et prévisible de notre négligence ou d’une violation de notre part des présentes Conditions Générales. Dans un tel cas, notre responsabilité envers vous ne s’étendra pas aux pertes de profits ou pertes d’opportunités que vous pourriez subir.<br>
                <p style="border:solid;border-width:1px;border-color:#850606;"><span style="color:#850606;"><strong>IMPORTANT</strong></span><br>
                Vous engagez votre responsabilité envers nous lorsque vous nous restituez le véhicule tardivement, en cas de perte du véhicule ou de dommages subis par ce dernier. Vous engagez également votre responsabilité envers nous si vous vous voyez infliger une amende ou le paiement de frais d’autre nature pendant la durée de votre location.</p>
                Votre responsabilité envers nous : Vous devez entretenir, utiliser et restituer le véhicule conformément aux dispositions prévues par le présent Contrat de Location.<br>
                <strong>Veuillez lire attentivement votre Contrat de Location et ce présent livret de Conditions Générales de Location afin d’être sûr(e) de bien comprendre quelles sont vos obligations et responsabilités.</strong><br>
                <strong>LITIGES</strong><br>
                Nous entendons résoudre tous les litiges de façon amiable. Pour obtenir les coordonnées des personnes à contacter ainsi que des informations concernant les services indépendants de résolution des litiges, merci de vous reporter à <strong>l’Annexe 7 (Contacts).</strong><br>
                Si nous ne sommes pas en mesure de résoudre un conflit, celui-ci sera soumis au droit Français. Si une partie quelconque du présent Contrat de Location devait, en vertu de la loi en vigueur, s’avérer illégale ou inapplicable, cette partie devrait être considérée comme ayant été retirée du Contrat de Location ; mais les autres dispositions resteront de plein effet.<br>
                <strong>CONFIDENTIALITÉ</strong><br>
                Lorsque vous effectuez une location auprès de nous, vous consentez à ce que nous traitions vos données personnelles ; ce que nous ferons en conformité avec notre Politique de Confidentialité. Veuillez-vous reporter à <strong>l’Annexe 6 (Politique de Confidentialité)</strong> pour de plus amples informations.<br>
                <strong>LOCATIONS DE PLUS DE 28 JOURS</strong><br>
                Si vous effectuez une location pour une durée de 28 jours ou plus, vous devrez rapporter le véhicule dans notre agence de location au moins tous les 28 jours, ou à chaque fois que nous en ferons la demande. Nous nous réservons le droit de résilier le présent Contrat de location, à tout moment, de façon orale ou écrite, moyennant un préavis de 30 jours.<br>
                <br>
                <div style="font-size:25px;"><strong>PRISE EN CHARGE DU VEHICULE</strong></div><br>
                <div style="font-size:25px;"><strong>FRAIS</strong></div>
                Votre Contrat de Location répertorie l’ensemble des frais convenus au début de la location (et qui n’ont pas été payés à l’avance) et entérine votre consentement à payer ces frais ainsi que les autres frais pouvant s’y ajouter à la fin de votre location.
                <p style="border:solid;border-width:1px;border-color:#850606;"><span style="color:#850606;"><strong>IMPORTANT</strong></span><br>
                Généralement, nous demandons une préautorisation sur votre carte de crédit, d’un montant au moins égal aux frais estimés sur votre Contrat de Location. Cette somme sera débloquée après le paiement des frais de location. Pour plus d’informations sur ce point, veuillez en faire la demande à votre agence de location au moment de la prise en charge du véhicule ou vous renseigner en ligne avant d’entamer votre voyage.</p>
                Veuillez-vous reporter à <strong>l’Annexe 1 (Explications Relatives aux Frais)</strong> où vous trouverez des explications quant aux principaux frais de location et frais supplémentaires pouvant éventuellement s’appliquer à la fin de votre location. Nous vous remettrons une facture globale contre paiement de ces frais.
                <div style="font-size:25px;"><strong>LE VÉHICULE</strong></div>
                <strong>Définition :</strong> Dans les présentes Conditions Générales de Location, toutes les références au terme « véhicule » désignent le véhicule que nous vous remettons dans le cadre de votre location, ce qui inclut les remplacements, toutes les pièces et tous les accessoires appartenant au véhicule ainsi que tout équipement supplémentaire pouvant vous être fourni, tels les sièges enfant. Etat du véhicule : il est important que vous vérifiiez l’état du véhicule au début et à la fin de la location. Nous vous remettrons votre contrat de location contenant une section « état intérieur » et « état extérieur » du véhicule détaillant les éventuels dommages préexistants. Veuillez-vous reporter à <strong>l’Annexe 3 (Politique Relative aux Dommages)<strong> afin de bien comprendre de quelle façon nous traiterons les dommages causés au véhicule pendant votre location.
                <strong>Utilisation :</strong> Vous devez prendre soin du véhicule et l’utiliser de bonne manière afin de réduire le risque de défaillance et de dégradation en respectant nos Restrictions de Location (ci-dessous). Vous devrez également vous assurer que vous utilisez un carburant adapté et vérifier les pneus et les niveaux d’huile et autres jauges, en procédant à leur réapprovisionnement si cela est nécessaire.
                <p style="border:solid;border-width:1px;border-color:#850606;"><span style="color:#850606;"><strong>IMPORTANT</strong></span><br>
                Vous êtes tenu(e) de restituer le véhicule dans le même état que lorsque nous vous l’avons remis, exception faite de l’usure consécutive à une utilisation normale. Vous engagerez votre responsabilité envers nous, dans les limites autorisées par la loi en vigueur, pour toutes les détériorations supplémentaires décelées sur le véhicule à sa restitution.</p>
                Carburant : Nous vous remettrons votre véhicule avec un réservoir de carburant plein. Vous devrez nous restituer le véhicule avec un réservoir également plein.
                <div style="font-size:25px;"><strong>RESTRICTIONS DE LOCATION</strong></div>
                Utilisation : Le véhicule est notre propriété et vous n’êtes pas autorisé(e) à le sous-louer, le transférer ou le vendre. Vous n’êtes pas autorisé(e) à utiliser le véhicule pour :
                –Transporter des passagers contre rémunération (en qualité de taxi, VTC ou dans le cadre d’accords de covoiturage ou similaires).
                –Emprunter des voies non carrossables ou inadaptées au véhicule (notamment des chemins hors-pistes).
                –Transporter un nombre excédentaire de passagers ou de bagages.
                –Remorquer ou pousser un autre véhicule, une caravane ou tout autre élément (sans notre accord express).
                –Transporter quoi que ce soit qui puisse endommager le véhicule (notamment du matériel et des matériaux explosifs ou combustibles) ou différer notre capacité à relouer le véhicule (du fait de son état à la restitution ou de l’odeur qui s’en dégage).
                –Transporter des marchandises contre rémunération (sauf si le véhicule est un camion ou une camionnette).
                –Prendre part à une course, un rallye ou tout autre type de compétition.
                –Conduire dans des zones à accès restreint, telles que les aéroports, routes de service et autres voies de même nature.
                –Conduire en infraction à la réglementation routière ou toute autre réglementation en vigueur.
                –Utiliser le véhicule à des fins illicites.
                Conducteurs autorisés : seule la personne titulaire du contrat de location et toute autre personne autorisée par nous peuvent conduire le véhicule. Cependant, ces mêmes personnes ne seront pas autorisées à conduire le véhicule en cas de fatigue extrême ou si elles sont sous l’influence d’une substance quelconque susceptible d’affecter leur attention ou leurs réflexes, telles que l’alcool, les drogues ou certains médicaments.
                Locations multiples : il ne vous est pas possible de louer plus d’un (1) véhicule à la fois, à moins que vous n’ayez ouvert un compte société chez nous et que vous ayez été préalablement autorisé(e) à le faire.
                <p style="border:solid;border-width:1px;border-color:#850606;"><span style="color:#850606;"><strong>IMPORTANT</strong></span><br>
                Si vous ne vous conformez pas aux présentes Restrictions de Location :
                – Vous serez tenu(e) responsable de toute perte, dommage et dépense que votre manquement pourrait nous occasionner.
                – Vous pourrez perdre le bénéfice des assurances ou garanties optionnelles pouvant vous couvrir.
                – Nous pourrons résilier à tout moment, et à vos frais, le présent Contrat de Location et reprendre le véhicule.</p>

            </div>
        </div>
    </div>
{% endblock %}