{% extends 'base.html.twig' %}

{% block title %}Conditions Générale d'Utilisation
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/cgu.css">

{% endblock %}

{% block body %}
	<div class="container">
		<div class="service-area bg sp">
			<div>
				<h2 class=" red">
					Conditions Générales d'Utilisation</h2>
				</div>


				<p>
					Les présentes conditions générales d’utilisation (dites « CGU ») ont pour objet l’encadrement juridique des modalités de mise à disposition du site et des services par et de définir les conditions d’accès et d’utilisation des services par « l’Utilisateur ». Les présentes CGU sont accessibles sur le site à la rubrique «CGU».</p>

					<div>
						<h4 class="red">
							Article 1 : Les mentions légales</h4>
						</div>


						<p>
							L'édition du site www.joellocation.com est assurée par la Société sasu
							<span style="font-weight:bold;">Joel Location</span>
							au capital de 1000 euros, immatriculée au RCS de Pointe-à-Pitre sous le numéro 87868990000016, dont le siège social est situé au :
						</p>
						<div class="text-center">
							<p>
								94 chemin de la hache
							</p>
							<p>
								97160 Le Moule
							</p>
						</div>
						<p>
							Numéro de téléphone : 07 67 32 14 47
						</p>
						<p>
							Courriel : joel@joellocation.com.
						</p>
						<p>
							Le Directeur de la publication est : Mr Joel Mandret
						</p>
						<p>
							Numéro de TVA intracommunautaire : FR40878689900
						</p>
						<p>
							L'hébergeur du site www.joellocation.com est la société Planethoster, dont le siège social est situé au:
						</p>
						<div class="text-center">

							<p>
								4416 Louis-B.-Mayer
							</p>
							<p>
								Laval, Québec
							</p>
							<p>
								Canada H7P0G1
							</p>
						</div>
						<p>
							avec le numéro de téléphone : 08 05 08 04 26 (appel gratuit depuis un poste fixe) ou +33 1 76 60 41 43.
						</p>
						<p></p>


						<div>
							<h4 class="">ARTICLE 2 : Accès au site</h4>
						</div>


						<p>Le site
							<span class="url">
								<a href="https://www.joellocation.com"> www.joellocation.com</a> 

							</span>
							permet à l'Utilisateur un accès gratuit aux services.</p>
							<p>Le site internet propose la location de véhicules.</p>
							<p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
							</p>
							<p>
								L’Utilisateur ne peut utiliser le présent Site Internet que conformément aux présentes CGU et, en tout état de cause, à des fins licites et appropriées, y compris conformément aux lois, réglementations et codes de déontologie applicables en France.
							</p>


							<p>
								L’Utilisateur s’engage notamment à ne pas :
							</p>
							<ul>
								<li>
									publier, transmettre ou diffuser des informations sur ou via le présent Site Internet qui sont ou pourraient être dommageables, obscènes, diffamatoires, offensantes, inappropriées, choquantes, abusives, injurieuses, racistes, incitant à la haine raciale, à la violence, constituant une apologie des crimes contre l’humanité, pédopornographique, susceptibles de porter atteinte à la dignité humaine ou à la vie privée d’autrui, illégales, contraire aux lois en vigueur ou illicites ;
								</li>
								<li>
									utiliser le présent Site Internet d’une manière constituant ou susceptible de constituer une contrefaçon des droits d’un tiers ;
								</li>
								<li>
									effectuer des réservations non autorisées, fausses ou frauduleuses ;
								</li>
								<li>
									usurper l’identité d’un tiers ;
								</li>
								<li>
									diffuser ou publier des informations inexactes, fausses ou incomplètes ;
								</li>
								<li>
									utiliser un logiciel, un sous-programme ou un dispositif pour interférer ou tenter d’interférer électroniquement ou manuellement dans le fonctionnement ou les fonctionnalités du présent Site Internet, y compris, notamment, en chargeant ou en mettant à disposition par quelque moyen que ce soit des fichiers contenant des données corrompues ou des virus, chevaux de Troie, bombes logiques, ou autre code malicieux ou malveillant destiné à interrompre, suspendre, détruire ou limiter les fonctionnalités de tout équipement de télécommunications ;
								</li>
								<li>
									dégrader, altérer ou interférer avec l’aspect (le « look and feel ») frontal du présent Site Internet ou le code logiciel sous-jacent ;
								</li>
								<li>
									effectuer tout acte qui surchargerait de manière déraisonnable ou disproportionnée le Site Internet ou toute infrastructure connexe ;
								</li>
								<li>
									obtenir ou tenter d’obtenir un accès non autorisé, par tout moyen;
								</li>
								<li>
									se livrer à des activités commerciales de toutes sortes sans l’autorisation préalable écrite de Joel Location ;
								</li>
								<li>
									collecter, traiter et/ou conserver des données à caractère personnel relatives à d’autres utilisateurs, le cas échéant en relation avec la conduite des activités prohibées aux présentes ;
								</li>
								<li>
									couvrir ou masquer des bannières publicitaires sur toute page du Site Internet au moyen de HTML/CSS, entre autres ;
								</li>
								<li>
									modifier, hacker, adapter ou autrement modifier le Site ou tout site tiers de sorte à faussement sous-entendre qu’il est associé au Site ;
								</li>
								<li>
									enfreindre de toute autre manière la législation applicable.
								</li>

							</ul>

							Sans préjudice des autres droits (en vertu de la loi ou tout autre fondement), Joel Location se réserve le droit :
							<ul>
								<li>
									d'annuler les réservations de l’Utilisateur sans le consulter, et/ou
								</li>
								<li>
									de refuser l’accès au présent Site Internet,
								</li>
							</ul>

							lorsque l’Uilisateur manque à l’une quelconque des stipulations des présentes Conditions Générales

							<div>
								<h4 class="">
									ARTICLE 3 : Données personnelles recueillies et RGPD
								</h4>
							</div>

							<p>

								Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles conformément aux dispositions du Règlement Général sur la Protection des Données 2016/679 du Parlement européen et du Conseil du 27 avril 2016 (RGPD) et la loi n°78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés (loi "Informatique et Libertés") qui définissent les conditions dans lesquelles des traitements de données à caractère personnel peuvent être mis en oeuvre.
								La Société Joel Location peut être amenée à recueillir les données à caractère personnel communiquées par l’Utilisateur sur les formulaires de contacts, de demandes, ou lors de la navigation sur le site. Ces données sont traitées afin de répondre aux demandes des utilisateurs ou améliorer leur expérience sur le site. Lorsque l’Utilisateur a donné son accord préalable, la société Joel Location pourrait envoyer des emails promotionnels. 
								Conformément au RGPD (articles 15 à 20 du RGPD), l'Utilisateur dispose d'un droit d'accès, de rectification, d’effacement, d'opposition, de limitation et de portabilité de ses données personnelles. 
								Pour exercer ces droits, les utilisateurs doivent justifier de leur identité et en faire la demande, par courriel à
								<span class="mail">joel@joellocation.com</span>
								ou par voie postale :

							</p>
							<div class="text-center">
								<p>Joel Location</p>
								<p>94 chemin de la hache</p>
								<p>97160 Le Moule.</p>
							</div>


							<p style="font-weight : bold;">
								Nous pouvons divulguer vos renseignements personnels si la loi nous oblige à le faire ou si vous violez nos conditions générales de location ou d'utilisation.
							</p>

							<div>
								<h4 class="">
									ARTICLE 4 : Propriété intellectuelle
								</h4>
							</div>


							<p>
								Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
							</p>

							<p>
								L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute utilisation à des fins commerciales et publicitaires est strictement interdite. Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et suivants du Code de la propriété intellectuelle. Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.

							</p>

							<div>
								<h4 class="">
									ARTICLE 5 : Responsabilité
								</h4>
							</div>
							<p>
								Les sources des informations diffusées sur le site
								<span class="url">
									<a href="https://www.joellocation.com"> www.joellocation.com</a> 
								</span>
								sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions. Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site www.joellocation.com ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.
							</p>
							<p>Le site
								<span class="url">
									<a href="https://www.joellocation.com"> www.joellocation.com</a> 
								</span>
								ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au téléchargement provenant de ce site.
								La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
							</p>
							<div>
								<h4 class="">
									ARTICLE 6 : Liens hypertextes
								</h4>
							</div>
							<p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site
								<span class="url">
									<a href="https://www.joellocation.com"> www.joellocation.com</a> 
								</span>. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.
							</p>

							<div>
								<h4 class="">
									ARTICLE 7 : Cookies
								</h4>
							</div>

							<p>
								L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation. Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site
								<span class="url">
									<a href="https://www.joellocation.com"> www.joellocation.com</a> 
								</span>. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent. L’information contenue dans les cookies est utilisée pour améliorer le site www.joellocation.com. En naviguant sur le site, l’Utilisateur les accepte.
							</p>

							<p>
								L’Utilisateur doit toutefois donner son consentement quant à l’utilisation de certains cookies.
							</p>
							<p>
								A défaut d’acceptation, l’Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui être refusées.
							</p>
							<p>
								L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
							</p>

							<div>
								<h4 class="">
									ARTICLE 8 : Publication par l’Utilisateur
								</h4>
							</div>


							<p>
								Le site permet aux membres de publier les contenus suivants :
							</p>
							<p>
								Commentaires et témoignages.
							</p>
							<p>
								Dans ses publications, le membre s’engage à respecter les règles de la Netiquette (règles de bonne conduite de l’internet) et les règles de droit en vigueur.
							</p>
							<p>
								Le site peut exercer une modération sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.
							</p>
							<p>
								Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.
							</p>
							<p>
								La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité. L'Utilisateur s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par l'Utilisateur.
							</p>
							<p>
								Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié par le site, sans préavis.
							</p>
							<div>
								<h4 class="">
									ARTICLE 9 : Droit applicable et juridiction compétente
								</h4>
							</div>


							<p>
								La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.
								Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.
							</p>


						</div>
					</div>
				{% endblock %}
