{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container">
		<div class="section-title red">
			<h2>Renault Clio IV</h2>
		</div>
		<div class="mb-3">
			<div class="float-left col-6" style="height:500px;">
				<img src="images/clio 4a.jpg" alt="portfolio-image">
			</div>
			<div class="text-justify ">
				<p>Si vous recherchez une voiture qui offre un rapport qualité / prix incroyable, alors la Clio IV, avec sa grande polyvalence, est faite pour vous. Cette voiture de tourisme vous garantit un super confort aussi bien sur les petites rues que sur les grandes routes. Elle a une consommation de carburant raisonnable, et est fiable.</p>
				<div>Conditions de location Renault Clio IV</div>
				<p>
					<span style="color:red">•</span>
					Kilométrage illimité<br>
					<span style="color:red">•</span>
					Âge minimum : 21 ans<br>
					<span style="color:red">•</span>
					Plus de 2 ans de permis de conduire<br>
					<span style="color:red">•</span>
					Possibilité de régler en plusieurs fois<br>
					<span style="color:red">•</span>
					Caution : 700 €</p>

				<div>Caractéristiques de Renault Clio IV</div>
				<p>
					<i class="fa fa-battery-full" aria-hidden="true"></i>
					Carburant : Essence<br>
					<i class="fa fa-sun-o" aria-hidden="true"></i>
					Boite de vitesse : Manuelle<br>
					<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					Nombre max de bagages : 3<br>
					<i class="fa fa-car" aria-hidden="true"></i>
					Nombre de portes : 5<br>
					<i class="fa fa-users" aria-hidden="true"></i>
					Max passagers: 5<br>
					<i class="fa fa-rss" aria-hidden="true"></i>
					Atouts : autoradio, climatisation, fermeture centralisée</p>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div>
				<a href="{{ path('accueil') }}#contact" class="button">Demander un avis</a>
			</div>
		</div>
	</div>

{% endblock %}
