<div class="texte">
	<p class="text-justify ">Découvrez le parfait équilibre entre confort, style et performance avec la Renault Clio 5, désormais disponible avec une transmission automatique pour une expérience de conduite encore plus agréable. Que ce soit pour une escapade en ville ou un voyage sur de longues distances, la Clio 5 offre une conduite fluide et une maniabilité exceptionnelle, tout en offrant un design élégant et moderne.</p>
	<div>
		<h4>
			Conditions de location RENAULT CLIO 5
		</h4>
	</div>
	<div class="conditions">
		<ul>
			<li>
				Kilométrage illimité
			</li>
			<li>
				Âge minimum : 21 ans
			</li>
			<li>

				Plus de 2 ans de permis de conduire
			</li>
			<li>
				Possibilité de régler en plusieurs fois
			</li>
			<li>
				Caution : 800 €
			</li>
		</ul>
	</div>

	<div>
		<h4>Caractéristiques de RENAULT CLIO 5</h4>
	</div>
	<div class="caracteristiques">
		<ul>
			<li>
				<i class="fa fa-battery-full" aria-hidden="true"></i>
				Carburant : Essence
			</li>
			<li>
				<i class="fa fa-sun-o" aria-hidden="true"></i>
				Boite de vitesse : Automatique
			</li>
			<li>
				<i class="fa fa-shopping-bag" aria-hidden="true"></i>
				Nombre max de bagages : 3
			</li>
			<li>
				<i class="fa fa-car" aria-hidden="true"></i>
				Nombre de portes : 5
			</li>
			<li>
				<i class="fa fa-users" aria-hidden="true"></i>
				Max passagers: 5
			</li>
			<li>
				<i class="fa fa-rss" aria-hidden="true"></i>
				Atouts : Carplay, climatisation, fermeture centralisée, aide à la conduite.
			</li>
		</ul>
	</div>
</div>
