{% extends 'base.html.twig' %}

{% block title %}renault clio
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/details_vehicules.css">
{% endblock %}

{% block body %}

	<div class="container">
		<div class="section-title red">
			<h2>Renault Clio IV</h2>
		</div>
		<div class="mb-3 d-flex">
			<div class="image_voiture">
				<img src="images/clio rouge.png" alt="portfolio-image">
			</div>
			<div class="texte">
				<p class="text-justify ">Si vous recherchez une voiture qui offre un rapport qualité / prix incroyable, alors la Clio IV, avec sa grande polyvalence, est faite pour vous. Cette voiture de tourisme vous garantit un super confort aussi bien sur les petites rues que sur les grandes routes. Elle a une consommation de carburant raisonnable, et est fiable.</p>
				<div>
					<h4>
						Conditions de location Renault Clio IV
					</h4>
				</div>
				<div class="conditions">
					<ul>
						<li>
							Kilométrage illimité
						</li>
						<li>
							Âge minimum : 21 ans
						</li>
						<li>

							Plus de 2 ans de permis de conduire
						</li>
						<li>
							Possibilité de régler en plusieurs fois
						</li>
						<li>
							Caution : 700 €
						</li>
					</ul>
				</div>

				<div>
					<h4>Caractéristiques de Renault Clio IV</h4>
				</div>
				<div class="caracteristiques">
					<ul>
						<li>
							<i class="fa fa-battery-full" aria-hidden="true"></i>
							Carburant : Essence
						</li>
						<li>
							<i class="fa fa-sun-o" aria-hidden="true"></i>
							Boite de vitesse : Manuelle
						</li>
						<li>
							<i class="fa fa-shopping-bag" aria-hidden="true"></i>
							Nombre max de bagages : 3
						</li>
						<li>
							<i class="fa fa-car" aria-hidden="true"></i>
							Nombre de portes : 5
						</li>
						<li>
							<i class="fa fa-users" aria-hidden="true"></i>
							Max passagers: 5
						</li>
						<li>
							<i class="fa fa-rss" aria-hidden="true"></i>
							Atouts : autoradio, climatisation, fermeture centralisée
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="d-flex justify-content-center">
			<div>
				<a href="{{ path('accueil') }}#contact" class="button">Demander un devis</a>
			</div>
		</div>
	</div>

{% endblock %}
