{% extends 'base.html.twig' %}


{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/material/material-kit.css?v=2.0.7">
	<link rel="stylesheet" href="css/style_index.css">
{% endblock %}

{% block body %}
	<div class="faq-area sp bg-white">
		<div class="section-title" id="contact">
			<h2>Nous contacter</h2>
			<p>Vous pouvez nous envoyer un message ici</p>
		</div>

		<div class="container">
			<form action="#">
				<div class="p-5">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputUsername" class="bmd-label-floating" style="color:white;font-weight:500">Nom :</label>

								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputUsername" class="bmd-label-floating" style="color:white;font-weight:500">Email :</label>

								<input type="email" class="form-control">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputUsername" class="bmd-label-floating" style="color:white;font-weight:500">Téléphone :</label>

								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputUsername" class="bmd-label-floating" style="color:white;font-weight:500">Adresse :</label>

								<input type="text" class="form-control">
							</div>
						</div>

						<div class="col-lg-12">
							<div class="form-group">
								<label for="Objet" class="labelObjet">Objet* :
								</label>
								<select name="Objet" id="Objet">
									<option value="devis">Demande de devis</option>
									<option value="renseignement">Demande de renseignement</option>
									<option value="autre">Autre</option>
								</select>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label for="exampleMessage" class="">Message :</label>
								<textarea type="email" class="form-control" rows="4" id="exampleMessage" placeholder="Pour une demande de devis, veuillez préciser vos dates de retrait et de retour ainsi que le lieu (Aéroport ou autre)."></textarea>
							</div>
						</div>

						<div class="col-lg-12">
							<input class="button" type="submit" value="Envoyer Message">
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>
{% endblock %}
