{% extends 'base.html.twig' %}

{% block title %}login
{% endblock %}

{% block body %}
    <div class="container">
		<div class="section-title red">
			<h2>Foire aux questions</h2>
		</div>
        {% for faq in faqs %}
            <div class="row">
                <strong><h3>{{ loop.index }} - {{ faq.question }}</h3></strong><br>
                {{ faq.reponse }}
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
