{% extends 'base.html.twig' %}

{% block title %}Foire aux questions - Location de véhicule en Guadeloupe
{% endblock %}
{% block stylesheets %}
	{# <link rel="stylesheet" href="{{asset('vitrine/css/faq.css')}}"> #}
{% endblock %}

{% block body %}
	<div class="container">

		<div class="faq-area sp bg">
			<div class="container">
				<div class="section-title red">
					<h2>Foire aux questions</h2>
				</div>

				<div class="faq">
					{% for faq in faqs %}
						<div class="single-item">
							<h4>{{ faq.question }}</h4>
							<div class="content">
								{{ faq.reponse }}
							</div>
						</div>
					{% endfor %}

				</div>
			</div>

		</div>
	</div>
{% endblock %}
