{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

	{% block body %}
		<div class="container">
			<h3 align="center">MENTION LEGAL</h3>

			<p>JOEL LOCATION<br>
				94 CHEMIN DE LA HACHE,97160 LE MOULE<br>
				0690 73 76 74 /  07 67 32 14 47 <br>
				JOEL@JOELLOCATION.COM<br>
				SASU AU CAPTAL DE 1000€<br>
				GERANT  JOEL MANDRET<br>
				SIRET 87868990000016  RCS  POINTRE A PITRE<br>
				N° INTRACOMMUNAUTAIRE  FR40878689900</p>
			</div>
		{% endblock %}
