{% extends 'base.html.twig' %}

{% block title %}renault capture
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/vehicules.css">
{% endblock %}

{% block body %}
    <div class="portfolio-area">
		<div class="container" id="vehicule">
			<div class="section-title">
				<h2>Nos Véhicules</h2>
				<p>Vous pouvez choisir parmi les véhicules que nous offrons</p>
			</div>
			<div class="row">
				<div class="single-portfolio col-md-4">
					<div class="inner">
						<div class="portfolio-img">
							<img src="images/CAPTURE NOIR.png" alt="captur image">

							<div class="hover-content">
								<figcaption>
									<h3 class="m-0 p-0 text-center">Renault Captur</h3>
								</figcaption>
								<div>
									<a href="{{ path('capture') }}" class="button">Voir plus de détails</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="single-portfolio col-md-4">
					<div class="inner">
						<div class="portfolio-img">
							<img src="images/clio rouge.png" alt="clio image">
							<div class="hover-content">
								<figcaption>
									<h3 class="m-0 p-0">Renault Clio IV</h3>
								</figcaption>
								<div>
									<a href="{{ path('clio') }}" class="button">Voir plus de détails</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="single-portfolio col-md-4">
					<div class="inner">
						<div class="portfolio-img">
							<img src="images/TWINGO BLANC.png" alt="twingo image">
							<div class="hover-content">
								<figcaption>
									<h3 class="m-0 p-0">Renault Twingo</h3>
								</figcaption>
								<div>
									<a href="{{ path('twingo') }}" class="button">Voir plus de détails</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}