{% extends 'base.html.twig' %}
{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/quisommenous.css">
{% endblock %}

{% block body %}

	<div class="portfolio-area sp" style="background-color:white">
		<div class="container" id="propos">

			<div class="section-title red">
				<h2>À propos de Joel Location</h2>
				<p>Vous pouvez choisir parmi les véhicules que nous offrons</p>
			</div>

			<div class="mb-3">
				<div class="float-left mr-3">
					<img style="width:auto; height:300px;" src="images/iStock-1065238562.jpg" alt="JOEL LOCATION">

				</div>
				<div class="text-justify ">
					<p>Joellocation est une société de location de voitures en Guadeloupe dédiée à fournir
						<strong>des services de location de voitures incroyables à des tarifs très abordables</strong>. Étant une jeune entreprise indépendante, l'entreprise s'est forgé une bonne réputation grâce à sa diligence et son dévouement dans le service qu'elle fournit. Chez Joellocation, notre objectif premier est de faire en sorte que les visiteurs de la Guadeloupe bénéficient du meilleur de leurs vacances, avec une réactivité réellement fiable et sans pareil. La société propose plusieurs types différents de voitures à louer. Ceux qui peuvent contenir une famille complète, une mini-voiture pour se promener dans la ville, un véhicule tout chemin pour galoper à travers plusieurs sites tout en faisant du tourisme. L'entreprise s'assure de mener des inspections d'experts sur tous ses véhicules avant et après la location afin d'assurer la sécurité continue de ses clients.
						<strong>L’entretien irréprochable des véhicules est important pour Joellocation.</strong>
					</p>
					<p>Joellocation met à votre disposition une large gamme de voitures, en parfait état, adaptées au terrain et aux itinéraires de la Guadeloupe.Ces voitures sont livrées à des
						<strong>prix imbattables</strong>, couplées au fait qu'elles peuvent facilement être mises à votre disposition à l'aéroport à tout moment de la journée ou même être livrées sur votre lieu de résidence s’il est situé sur la Grande-Terre. Être une agence locale nous permet de
						<strong>mieux nous connecter avec nos clients et nos résidents de la Guadeloupe</strong>, apportant ainsi un degré d'excellence à nos services.</p>
					<p>Joellocation dispose d'une page Web de réservation en ligne avancée sur laquelle les clients peuvent facilement réserver les voitures de leur choix, à des tarifs vraiment abordables. La transparence est l'un des mots d'ordre de notre agence et à ce titre, les prix sont clairement indiqués sur les pages de réservation avec les détails et les conditions de location. La société dispose d'un cadre et d'un personnel dévoués au service client. Le personnel est formé pour être tolérant, respectueux et particulièrement serviable envers les clients de tout horizon, y compris les non-francophones.</p>
				</div>
			</div>

			<div class="d-flex justify-content-center mt-5">
				<div>
					<a href="{{ path('accueil') }}#vehicule" class="button">Nos véhicules</a>
				</div>
			</div>
		</div>
	</div>

	<div class="service-area bg1 sp avecbgimage">
		<div class="container ">
			<div class="section-title white">
				<h2>Pourquoi louer une voiture avec Joellocation ?</h2>
			</div>
			<div class="row row-pourquoi">
				<div class="col-lg-4 col-md-6 single-service-3 ">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fa fa-map-marker"></i>
							</div>
							<h4>Agence de location locale</h4>
						</div>
						<div class="content ">
							<p>Joellocation est une société à taille humaine, indépendante, locale. Pendant votre séjour, Joellocation reste toujours à votre service. Vous ne serez pas face à une plateforme téléphonique quand vous contactez Joellocation.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-service-3">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fa fa-key"></i>
							</div>
							<h4>Livraison</h4>
						</div>
						<div class="content ">
							<p>Votre véhicule sera livré dès votre arrivée à l’aéroport afin de vous faire gagner un temps précieux sur votre séjour. Il est tout à fait aussi possible de récupérer votre voiture sur votre lieu de résidence s’il est situé sur la Grande-Terre. Merci de préciser lors de la réservation.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-service-3">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fa fa-users"></i>
							</div>
							<h4>Conducteur additionnel</h4>
						</div>
						<div class="content">
							<p>A Joellocation, nous savons que les longs trajets peuvent être fatiguant, surtout après un bon bain de mer. C’est pour cela, que nous vous proposons l’ajout d’un deuxième conducteur gratuitement. De plus, les assurances responsabilités civiles et accidents causés aux tiers sont inclus dans votre forfait "location de voiture".
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-service-3">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fa fa-road"></i>
							</div>
							<h4>Kilométrages illimités</h4>
						</div>
						<div class="content">
							<p>Chez Joellocation, le kilométrage est illimité !</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-service-3">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fas fa-baby"></i>
							</div>
							<h4>Siège bébé / enfant</h4>
						</div>
						<div class="content">
							<p>Nous mettons à votre disposition des sièges bébé et nourrissons, homologués NF, pour seulement 30 euros TTC. Les rehausseurs pour les enfants de + de 15kg sont totalement gratuits !</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div>
				<a href="{{ path('accueil') }}#contact" class="button">Demander un avis</a>
			</div>
		</div>
	</div>
	{# fin essai #}
</div></div></div><div class="service-area spt mission" style="background-color:white"><div class="container">

<div class="section-title red" data-margin="0 0 40px">
	<h2>Notre mission</h2>
</div>
<div class="row ">
	<div class="col-md-4 single-service-2">
		<div class="inner">
			<div class="title">
				<div class="icon">
					<i class="fa fa-smile-o"></i>
				</div>
				{# <h4>Video Making</h4> #}
			</div>
			<div class="content">
				<p>Satisfaire nos clients grâce à notre professionnalisme et notre savoir faire</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 single-service-2">
		<div class="inner">
			<div class="title">
				<div class="icon">
					<i class="fa fa-money"></i>
				</div>
				{# <h4>Photography</h4> #}
			</div>
			<div class="content">
				<p>Offrir des
					<span class="imbattables" style="font-weight:bold">prix imbattables</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 single-service-2">
		<div class="inner">
			<div class="title">
				<div class="icon">
					<i class="fa fa-road "></i>
				</div>
				{# <h4>Music Composing</h4> #}
			</div>
			<div class="content">
				<p>Assurer la sécurité et le confort de nos clients en proposant des services de location de voitures hors-pair</p>
			</div>
		</div>
	</div>
</div></div></div>{% endblock %}
