{% extends 'base.html.twig' %}
{% block title %}à propos
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/quisommenous.css">
{% endblock %}

{% block body %}

	<div class="portfolio-area sp" style="background-color:white">
		<div class="container" id="propos">

			<div class="section-title red">
				<h2>À propos de Joel Location</h2>
				<p>Vous pouvez choisir parmi les véhicules que nous offrons</p>
			</div>

			<div class="mb-3">
				<div class="float-left mr-3 apropos_img">
					<img style="width:auto; height:300px;" src="images/iStock-1065238562.jpg" alt="JOEL LOCATION">

				</div>
				<div class="text-justify  apropos">
					<p>
						<b>
							JOEL LOCATION
						</b>
						est une société de location de voitures en Guadeloupe. Nous nous dédions à vous oﬀrir des services de location de voiture de qualité à des tarifs très abordables. Cette jeune entreprise indépendante s’est forgé un bonne réputation grâce à sa diligence et son dévouement.
					</p>
					<p>
						Chez Joel Location, notre objectif premier est de faire en sorte que les visiteurs de la Guadeloupe bénéﬁcient du meilleur de leurs vacances grâce à notre ﬁabilité et notre réactivité sans pareil.
					</p>
					<p style="text-decoration: underline">
						<b>La société propose plusieurs types différents de voitures à louer comme par exemple :</b>
					</p>
					<p>
						<ul></ul>
						<li>
							Des voitures qui peuvent convenir à une famille complète
						</li>
						<li>
							Une mini-voiture pour se promener dans la ville
						</li>
						<li>
							Un véhicule tout chemin pour s’aventurer à travers plusieurs sites et proﬁter du tourisme
						</li>
						<li>
							Et plus encore
						</li>

					</p>
					<p>
						L'entreprise s'assure de mener des inspections d'experts sur tous ses véhicules avant et après la location aﬁn d'assurer la sécurité continue de ses clients.
						<b>
							L’entretien irréprochable des véhicules est important pour nous.</b>
					</p>
					<p>
						Joel Location met à votre disposition une large gamme de voitures en parfait état, adaptées aux terrains et aux itinéraires de la Guadeloupe. Ces voitures sont livrées à des
						<b>
							prix imbattables
						</b>, et peuvent facilement être mises à votre disposition à l'aéroport à tout moment de la journée ou même être livrées sur votre lieu de résidence s’il est situé sur la Grande-Terre.
					</p>
					<p>
						Être une agence locale nous permet de
						<b>
							mieux nous connecter avec nos clients et nos résidents de la Guadeloupe
						</b>, apportant ainsi un degré d'excellence à nos services.
					</p>
					<p>
						Joel Location dispose d'une page Web de réservation avancée sur laquelle les clients peuvent facilement réserver les voitures de leur choix, à des tarifs vraiment abordables.
					</p>
					<p>
						La transparence est l'un des mots d'ordre de notre agence et à ce titre, les prix sont clairement indiqués sur les pages de réservation avec les détails et les conditions de location. La société dispose d'un cadre et d'un personnel dévoués au service client. Le personnel est formé pour être tolérant, respectueux et particulièrement serviable envers les clients de tout horizons, y compris les non-francophones.
					</p>
				</div>
			</div>

			<div class="d-flex justify-content-center mt-5">
				<div>
					<a href="{{ path('accueil') }}#vehicule" class="button">Nos véhicules</a>
				</div>
			</div>
		</div>
	</div>

	<div class="service-area bg1 sp avecbgimage">
		<div class="container ">
			<div class="section-title white">
				<h2>Pourquoi louer une voiture avec Joel Location ?</h2>
			</div>
			<div class="row row-pourquoi">
				<div class="col-lg-4 col-md-6 single-service-3 ">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fa fa-map-marker"></i>
							</div>
							<h4>Agence de location locale</h4>
						</div>
						<div class="content ">
							<p>Joel Location est une société à taille humaine, indépendante, locale. Pendant votre séjour, Joel Location reste toujours à votre service. Vous ne serez pas face à une plateforme téléphonique quand vous contactez Joel Location.
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-service-3">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fa fa-key"></i>
							</div>
							<h4>Livraison</h4>
						</div>
						<div class="content ">
							<p>Votre véhicule sera livré dès votre arrivée à l’aéroport aﬁn de vous faire gagner un temps précieux sur votre séjour. Il est aussi tout à fait possible de récupérer votre voiture sur votre lieu de résidence s’il est situé sur la Grande-Terre. Merci de préciser lors de la réservation.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-service-3">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fa fa-users"></i>
							</div>
							<h4>Conducteur additionnel</h4>
						</div>
						<div class="content">
							<p>A Joel Location, nous savons que les longs trajets peuvent être fatigants, surtout après un bon bain de mer. C’est pour cela, que nous vous proposons l’ajout d’un deuxième conducteur gratuitement. De plus, les assurances responsabilités civiles et accidents causés aux tiers sont inclus dans votre forfait "location de voiture".</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-service-3">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fa fa-road"></i>
							</div>
							<h4>Kilométrages illimités</h4>
						</div>
						<div class="content">
							<p>Chez Joel Location, le kilométrage est illimité !</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-service-3">
					<div class="inner">
						<div class="title">
							<div class="icon">
								<i class="fas fa-baby"></i>
							</div>
							<h4>Siège bébé / enfant</h4>
						</div>
						<div class="content">
							<p>Nous mettons à votre disposition des sièges bébé et nourrissons, homologués NF, pour seulement 30 euros TTC. Les rehausseurs pour les enfants de + de 15kg sont totalement gratuits !</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div>
				<a href="{{ path('accueil') }}#contact" class="button">Demander un devis</a>
			</div>
		</div>
	</div>
	{# fin essai #}
</div></div></div><div class="service-area spt mission" style="background-color:white"><div class="container">

<div class="section-title red" data-margin="0 0 40px">
	<h2>Notre mission</h2>
</div>
<div class="row ">
	<div class="col-md-4 single-service-2">
		<div class="inner">
			<div class="title">
				<div class="icon">
					<i class="fa fa-smile-o"></i>
				</div>
				{# <h4>Video Making</h4> #}
			</div>
			<div class="content">
				<p>Satisfaire nos clients grâce à notre professionnalisme et notre savoir faire</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 single-service-2">
		<div class="inner">
			<div class="title">
				<div class="icon">
					<i class="fa fa-money"></i>
				</div>
				{# <h4>Photography</h4> #}
			</div>
			<div class="content">
				<p>Offrir des
					<span class="imbattables" style="font-weight:bold">prix imbattables</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 single-service-2">
		<div class="inner">
			<div class="title">
				<div class="icon">
					<i class="fa fa-road "></i>
				</div>
				{# <h4>Music Composing</h4> #}
			</div>
			<div class="content">
				<p>Assurer la sécurité et le confort de nos clients en proposant des services de location de voitures hors-pair</p>
			</div>
		</div>
	</div>
</div></div></div>{% endblock %}
