{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div align="center"><h3>À propos de Joel Location</h3></div>

<p>Joellocation est une société de location de voitures en Guadeloupe dédiée à fournir des services de location de voitures incroyables à des tarifs très abordables. Étant une jeune entreprise indépendante, l'entreprise s'est forgé une bonne réputation grâce à sa diligence et son dévouement dans le service qu'elle fournit. Chez Joellocation, notre objectif premier est de faire en sorte que les visiteurs de la Guadeloupe bénéficient du meilleur de leurs vacances, avec une réactivité réellement fiable et sans pareil. La société propose plusieurs types différents de voitures à louer. Ceux qui peuvent contenir une famille complète, une mini-voiture pour se promener dans la ville, un véhicule tout chemin pour galoper à travers plusieurs sites tout en faisant du tourisme. L'entreprise s'assure de mener des inspections d'experts sur tous ses véhicules avant et après la location afin d'assurer la sécurité continue de ses clients. L’entretien irréprochable des véhicules est important pour Joellocation.</p>
<p>Joellocation met à votre disposition une large gamme de voitures, en parfait état, adaptées au terrain et aux itinéraires de la Guadeloupe. Ces voitures sont livrées à des prix imbattables, couplées au fait qu'elles peuvent facilement être mises à votre disposition à l'aéroport à tout moment de la journée. Être une agence locale nous permet de mieux nous connecter avec nos clients et nos résidents de la Guadeloupe, apportant ainsi un degré d'excellence à nos services.</p>
<p>Joellocation dispose d'une page Web de réservation en ligne avancée sur laquelle les clients peuvent facilement réserver les voitures de leur choix, à des tarifs vraiment abordables. La transparence est l'un des mots d'ordre de notre agence et à ce titre, les prix sont clairement indiqués sur les pages de réservation avec les détails et les conditions de location. La société dispose d'un cadre et d'un personnel dévoués au service client. Le personnel est formé pour être tolérant, respectueux et particulièrement serviable envers les clients de tout horizon, y compris les non-francophones.</p>

<div align="center"><h3>Pourquoi louer une voiture avec Joellocation ?</h3></div>
       <h4>Agence de location locale</h4>
<p>Joellocation est une société à taille humaine, indépendante, locale. Pendant votre séjour, Joellocation reste toujours à votre service. Vous ne serez pas face à une plateforme téléphonique quand vous contactez Joellocation. </p>
    <h4>Livraison</h4>
<p>Votre véhicule sera livré dès votre arrivée à l’aéroport afin de vous faire gagner un temps précieux sur votre séjour. Il est tout à fait aussi possible de récupérer votre voiture sur votre lieu de résidence s’il est situé sur la grand terre. Merci de préciser lors de la réservation.</p>
    <h4>Conducteur additionnel</h4>
<p>A Joellocation, nous savons que les longs trajets peuvent être fatiguant, surtout après un bon bain de mer. C’est pour cela, que nous vous proposons l’ajout d’un deuxième conducteur gratuitement. De plus, les assurances tous risques sont inclus dans votre forfait "location de voiture".  </p>

     <h4>Kilométrages illimités</h4>
<p>Chez Joellocation, le kilométrage est illimité !</p>

       <h4>Siège bébé / enfant</h4>
<p>Nous mettons à votre disposition des sièges bébé et nourrissons, homologués NF, pour seulement 30 euros TTC. Les rehausseurs pour les enfants de + de 15kg sont totalement gratuits !</p>


<div align="center"><h3>Notre mission</h3></div>
<p>
•	Satisfaire nos clients grâce à notre professionnalisme et notre savoir faire<br>
•	Offrir des prix imbattables sur des voitures de qualité<br>
•	Assurer la sécurité et le confort de nos clients en proposant des services de location de voitures hors-pair<br>
</p>
{% endblock %}