{% extends 'base.html.twig' %}

{% block title %}renault twingo
{% endblock %}

{% block body %}
	<div class="container">
		<div class="section-title red">
			<h2>Renault Twingo</h2>
		</div>
		<div class=" testimonial-area mb-3">
			<div class="float-left col-6" style="height:500px;">
				<img src="images/TWINGO BLANC.png" alt="portfolio-image">
			</div>
			<div class="text-justify ">
				<p>Découvrir les villes de la Guadeloupe n’a jamais été aussi simple avec Renault Twingo. C’est aussi une voiture à faible consommation de carburant qui peut vous emmener où vous voulez confortablement.</p>
				<p>Cette petite voiture de ﬁtness est proposée dans une gamme de prix pratique et abordable. Le fait de pouvoir facilement la garer n’importe où dans la ville est un énorme bonus.</p>

				<div>Conditions de location Renault Twingo</div>
				<p>
					<span style="color:red">•</span>
					Kilométrage illimité
					<br>


					<span style="color:red">•</span>

					Âge minimum : 21 ans<br>


					<span style="color:red">•</span>

					Plus de 2 ans de permis de conduire<br>


					<span style="color:red">•</span>

					Possibilité de régler en plusieurs fois<br>


					<span style="color:red">•</span>

					Caution : 700 €<br>
				</p>


				<div>Caractéristiques de Renault Twingo</div>
				<p>
					<i class="fa fa-battery-full" aria-hidden="true"></i>
					Carburant : Essence<br>
					<i class="fa fa-sun-o" aria-hidden="true"></i>
					Boite de vitesse : Manuelle<br>
					<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					Nombre  de bagages : 1<br>
					<i class="fa fa-car" aria-hidden="true"></i>
					Nombre de portes : 5<br>
					<i class="fa fa-users" aria-hidden="true"></i>
					Max passagers: 4<br>
					<i class="fa fa-rss" aria-hidden="true"></i>
					Atouts : autoradio, climatisation, fermeture centralisée</p>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div>
				<a href="{{ path('accueil') }}#contact" class="button">Demander un devis</a>
			</div>
		</div>
	</div>


{% endblock %}
