{% extends 'base.html.twig' %}

{% block title %}renault twingo
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('vitrine/css/details_vehicules.css')}}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="section-title red">
			<h2>Renault Twingo</h2>
		</div>
		<div class=" testimonial-area mb-3 d-flex">
			<div class="image_voiture_twingo">
				<img src="images/TWINGO BLANC.png" alt="portfolio-image">
			</div>
			<div class="texte">
				<div class=" text-justify ">
					<p>Découvrir les villes de la Guadeloupe n’a jamais été aussi simple avec Renault Twingo. C’est aussi une voiture à faible consommation de carburant qui peut vous emmener où vous voulez confortablement.</p>
					<p>Cette petite voiture de ﬁtness est proposée dans une gamme de prix pratique et abordable. Le fait de pouvoir facilement la garer n’importe où dans la ville est un énorme bonus.</p>
				</div>

				<div>
					<h4>Conditions de location Renault Twingo</h4>
				</div>
				<div class="conditions">
					<ul>
						<li>
							Kilométrage illimité
						</li>
						<li>
							Âge minimum : 21 ans

						</li>
						<li>
							Plus de 2 ans de permis de conduire

						</li>
						<li>
							Possibilité de régler en plusieurs fois

						</li>
						<li>
							Caution : 700 €

						</li>

					</ul>
				</div>


				<div>
					<h4>
						Caractéristiques de Renault Twingo
					</h4>
				</div>
				<div class="caracteristiques">
					<ul>
						<li>
							<i class="fa fa-battery-full" aria-hidden="true"></i>
							Carburant : Essence
						</li>
						<li>
							<i class="fa fa-sun-o" aria-hidden="true"></i>
							Boite de vitesse : Manuelle
						</li>
						<li>
							<i class="fa fa-shopping-bag" aria-hidden="true"></i>
							Nombre  de bagages : 1
						</li>
						<li>
							<i class="fa fa-car" aria-hidden="true"></i>
							Nombre de portes : 5
						</li>
						<li>
							<i class="fa fa-users" aria-hidden="true"></i>
							Max passagers: 4
						</li>
						<li>
							<i class="fa fa-rss" aria-hidden="true"></i>
							Atouts : autoradio, climatisation, fermeture centralisée
						</li>
					</ul>


				</div>

			</div>

		</div>
		<div class="d-flex justify-content-center">
			<div>
				<a href="{{ path('formulaire-contact') }}" class="button">Demander un devis</a>
			</div>
		</div>
	</div>


{% endblock %}
