{{ form_start(formStopSales) }}
{{ form_widget(formStopSales) }}
<button class="btn btn-success">
	<i class="fa fa-book" aria-hidden="true"></i>
	{{ button_label|default('Enregistrer') }}</button>
{{ form_end(formStopSales) }}
