<!-- top tiles -->
{# <div class="x_panel">
								<div class="x_title">
									<div class="row">
										<div class="col-auto">
											<h2>
												<i class="fa fa-list mr-1"></i>
												Liste des véhicules
											</h2>
										</div>
										<div class="col-auto ml-auto">
											<a href="" class="btn btn-link">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
						
						
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="row">
										<div class="col-sm-12">
											<div class="card-box table-responsive ">
						
												<table id="datatable" class="table table-bordered text-center" style="width:100%">
													<thead>
														<tr class="text-uppercase text-center">
															<th>date début</th>
															<th class="text-nowrap">date fin</th>
															<th>immatriculation</th>
															<th class="text-nowrap">motif</th>
															<th class="text-nowrap">commentaire</th>
															<th>état</th>
															<th>action</th>
														</tr>
													</thead>
						
						
													<tbody>
														<tr class="text-center">
															<td>
																01 Novembre 2020 - 00H00
															</td>
															<td>
																<span>Javascript Developer
																</span>
															</td>
															<td>Singapore</td>
															<td>29</td>
															<td>2011/06/27</td>
															<td>
																<div class="badge badge-primary p-2">Validé</div>
															</td>
															<td class="text-center">
																<button class="btn btn-outline-violet">
																	<i class="fa  fa-mail-reply-all (alias)"></i>
																</button>
																<button class="btn btn-outline-warning">
																	<i class="fa fa-trash"></i>
																</button>
															</td>
														</tr>
													</tbody>
												</tr>
											</tbody>
											<tr>
												<td>
													01 Novembre 2020 - 00H00
												</td>
												<td>New York</td>
												<td>27</td>
												<td>2011/01/25</td>
												<td>2011/01/25</td>
												<td>
													<div class="badge badge-primary p-2">Validé</div>
												</td>
												<td class="text-center">
													<button class="btn btn-outline-violet">
														<i class="fa  fa-mail-reply-all (alias)"></i>
													</button>
													<button class="btn btn-outline-warning">
														<i class="fa fa-trash"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> #}
