/*nos véhicules*/

.single-portfolio .inner .portfolio-img:hover .hover-content {
	opacity: 1;
	background-color: #11ffee00;
	visibility: visible;
	/* border: 1px solid black; */

}

.single-portfolio .inner .portfolio-img .hover-content .button:hover {
	background-color: #af0000;
	color: #fff;
	border-color: #af0000 !important;
}

/* .single-portfolio .inner .portfolio-img .hover-content {
		height: 243px;
		width: auto;
	} */

figcaption {
	display: none;
}

.single-portfolio .inner .portfolio-img:hover figcaption {
	display: block;
	color: #af0000;
	position: absolute;
	top: -15px;
	left: 100px;
}

figcaption h3 {
	font-weight: bold;
	text-shadow: 0 0px 10px #ffffff;
}

/* section roulez */

.roulez p {
	font-size: 24px;
}

.logo_roulez {
	margin: 5px;
}

.logo_roulez>.about-img>img {

	width: auto;
	height: 150px;
}

.texte_roulez {
	margin: 5px;

}

.logo_roulez {
	width: 30%;
}

.roulez {
	color: black;
}

.about-content {
	margin: 0;
}

.div_roulez {
	padding-left: 175px;
	padding-right: 175px;
}

/* a propos de nous */
.title h4 {
	padding-left: 0;
}

.mentions_legales {}

.description {
	text-align: justify;
	height: 105px;
}

.quisommesnous_ul ul {
	padding-left: 30px;
}

/* margin boutton */
.button {
	margin-top: 20px;
}

/* formulaire nous contacter */
form {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)), url('../images/iStock-177820652.jpg');
	background-size: 100% 100%;
}


.labelObjet {
	margin-right: 5px;
}

.formTextarea {
	margin-top: 10px;
}

/* form material class modif */
.form-control::placeholder {
	color: #d6d6d6;
	opacity: 1;
}

.form-group .bmd-label-floating {
	color: #ffffff;
}

.bmd-form-group .bmd-label-static {
	color: #ffffff;

}

/* couleur police après perte efocus */
.form-control {
	color: #ffffff;
}

.form-group label {
	color: #ffffff;

}

/* coulergb(255, 255, 255)t champ */
.form-control,
.is-focused .form-control {
	background-image: linear-gradient(to top, #747171 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #ffffff 1px, rgba(210, 210, 210, 0) 1px);
}

/* couleur police entrée */
.form-control:focus {
	color: #ffffff;
	/* background-color: rgba(0, 0, 0, 0);
	border-color: #d176e1;
	outline: 0;
	box-shadow: none, 0 0 0 0.2rem rgba(156, 39, 176, 0.25); */
}

.aproposdenous .inner {
	width: 425px;
}

/*media query pour responsive design*/

/*extra large device*/
@media (min-width: 1200px) {

	/* hero slider (carousel) custom*/
	.hero-slider .single-slide {
		height: 450px;
	}

	.roulez p {
		margin-top: 10px;
		line-height: 1.6;
	}


}




/* larges devices */

@media (min-width: 992px)and (max-width: 1199.98px) {

	/* hero slider (carousel) custom*/
	.hero-slider .single-slide {
		height: 400px;
	}

	.div_roulez {
		padding-left: 175px;
		padding-right: 175px;
	}

	.logo_roulez {
		width: 40%;
	}

	.roulez p {
		margin-top: 10px;
		font-size: 20px;
	}

	.roulez {
		padding-top: 15px;

	}

	/* a propos */
	.mentions_legales {
		height: 135px;
	}

	.description {
		height: 135px;
	}

	.single-portfolio .inner .portfolio-img:hover figcaption {
		top: -15px;
		left: 75px !important;
	}

}

/*  medium device(tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {

	.div_roulez {
		padding-left: 100px;
		padding-right: 100px;
	}

	.logo_roulez {
		width: 40%;
	}

	.roulez p {
		font-size: 16px;
	}

	.roulez {
		padding-top: 15px;

	}

	/* a propos de nous */
	.description {
		text-align: justify;
		height: 155px;
	}

	.single-portfolio .inner .portfolio-img:hover figcaption {
		top: -15px;
		left: 60px !important;
	}

	.hover-content a {
		font-size: 14px;
	}

	figcaption h3 {
		font-size: 18px;
	}


}


/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {

	.div_roulez {
		padding-left: 0px;
		padding-right: 0px;
	}

	.roulez p {
		font-size: 16px;
		margin: 0;
	}

	.logo_roulez {
		width: 50%;
	}

	.roulez {}

	.description {
		text-align: justify;
		height: auto;
	}

	.single-portfolio .inner .portfolio-img:hover figcaption {
		top: -15px;
		left: 180px;
	}

}

/*extra small device */
@media (max-width: 575.98px) {

	/* hero slider (carousel) custom*/
	.hero-slider .single-slide {
		height: auto;
	}

	/* deuxième logo en bas du carousel */
	.roulez p {
		font-size: 14px;
		margin: 0;
	}

	.logo_roulez {
		width: 25%;
	}

	.texte_roulez {
		text-align: top;
	}

	.logo_roulez .about-img {

		width: 75px;
		height: 75px;
	}

	.logo_roulez .about-img img {
		width: auto;
		height: 75px;
	}

	.div_roulez {
		padding-left: 0;
		padding-right: 0;
	}

	.description {
		text-align: justify;
		height: auto;
	}

	video {
		width: 350px;
	}

	.aproposdenous .inner {
		width: 300px;
	}


}