{% extends 'baseClient.html.twig' %}

{% block title %}Modifier conducteur
{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="/css/client/style.css">
{% endblock %}
{% block body %}
	<div class="x_panel">
		<div class="x_title">
			<h5>
				<i class="fa fa-edit (alias)"></i>
				Modification conducteur
			</h5>
		</div>
		{{ include('client/conducteur/_formConducteur.html.twig', {'button_label': 'Modifier'}) }}
	</div>
{% endblock %}
