{% extends 'baseClient.html.twig' %}

{% block title %}page client
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<h4 class="mb-0 pb-0">Ajout conducteur</h4>
	<div class="clearfix"></div>
	<div class="x_title"></div>

	{% include "client/conducteur/_formConducteur.html.twig" %}

{% endblock %}
{% block javascripts %}{% endblock %}
