@import url('../../fonts/poppins/poppins_font.css');
body{
    font-family: 'Poppins', sans-serif;
}
/* taille de police pour les btn */
.btn {
    font-size : 13px;
}
.x_title{
    padding-left: 0;
    padding-bottom: 0;
}
.x_title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    /* text-overflow: ; */
    overflow: hidden;
    word-wrap: break-word;
    width: auto;
}

h2 i{
    margin-right: 5px;
}

h2 .fa-chevron-right{
    color : blue;
    font-size: 22px;
}

/* custom button */

.btn-violet {
    color: #fff;
    background-color: #5c4ac7;
    border-color: #5c4ac7;
  }

  .btn-outline-violet{

        color: #5c4ac7;
        background-color: transparent;
        background-image: none;
        border-color: #5c4ac7;

  }

  .current_page h2{
      font-weight: bold;
  }

  .current_page div{
    font-weight: bold;
}


  /* custom elemets bootstrap */

  

  .bg-violet {
    background-color: #5c4ac7 !important;
}

.bg-primary2{
      background-color: #29b6f6 !important;

  }
  .bg-success2{
      background-color: #26dad2 !important;

  }

  .alert-rose{
      background-color: #f8d7da ! important;
  }
 .alert-warning2{
      background-color: #fff3cd ! important;
  }

  .text-danger {
    color: #ff0b09 !important;
  }

  .text-success {
    color: #59b611 !important;
}

.badge-danger{
      color: #fff;
  background-color: #ff0000;
  border-radius: 0%;

  }