.x_title .info_client button.btn{
 margin-bottom: 0;
}

.x_content .fa-chevron-right{
    padding-right: 5px;
}

.col-md-8 {
    padding-bottom: 10px;
}
.label_client{
    font-weight: 800;
}
.info_client .row{
    padding-bottom: 15px;
}
.label_periode{
    font-weight: 800;
}

.label_conducteur{
    font-weight: 800;
}

.info_conducteur{
    line-height: 40px;
}
h2{
  text-transform: uppercase !important;
  font-weight: 900;
}
.options_garanties .label{
    margin-bottom: 0;
}

.periode_location .col-md-6{
    padding-bottom: 10px;
}