.badge:empty{
    display: block;
}
span.badge{
    border-radius: 0%;
    height: 20px;
    width: 30px;
}
.legende .col-auto{
    padding-right: 0;
    margin-bottom: 3px;
}

.weekend{
    background: #f4f7f4;
} 

.hide{
    display: none !important;
}