.badge:empty{
    display: block;
}
span.badge{
    border-radius: 0%;
    height: 20px;
    width: 30px;
}
.legende .col-auto{
    padding-right: 0;
    margin-bottom: 3px;
}

.weekend{
    background: #f4f7f4;
} 

.hide{
    display: none !important;
}

.style_task{
    /* border-radius: 20%; */
    height: 15px;
}


  /* .gantt_task_content{
      background-color: red;
      background : red;
    } */
    
    .red{
        background-color: red;
    }    
    .green{
        background-color: green;
    }    
    .blue{
        background-color: blue;
    } 
    .yellow{
        background-color: rgb(241, 253, 12);
    }
   
/* style pour gantt */
    
.gantt_tree_content, .gantt_task_content{
    line-height: 12px;
    white-space:normal;
    overflow-wrap: break-word; 
    /* bring your own prefixes */
    padding: 5px;
  }

.gantt_scale_cell{
    line-height: 12px;
    white-space:normal;
    overflow-wrap: break-word; 
    /* bring your own prefixes */
    padding: 5px;
}



 