
.icon-steps{
    font-size: 20px;
}
.current-step i {
    color : rgb(255, 0, 0);
}

.current-step p {
    color : rgb(255, 0, 0);
    font-weight: bold;
}

/* style step2 */
.caracteristiques ul li{
    list-style: none;
}