@import url('../../fonts/poppins/poppins_font.css');

.groupe_boutons .col-auto {
    padding-left:  0px;
    padding-right: 0px;
}

.groupe_boutons .col-auto button{
    /* margin: 1px;
    padding: 5px; */
}

.info {
    padding: 1px 1px 1px 1px;
}

/* style incrementer */

.input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .input-number-group input[type=number]::-webkit-inner-spin-button,
  .input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .input-number-group .input-group-button {
    line-height: calc(40px/2 - 5px);
  }
  
  .input-number-group .input-number {
    width: 40px;
    /* padding: 0 12px; */
    vertical-align: top;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
  }
  
  .input-number-group .input-number,
  .input-number-group .input-number-decrement,
  .input-number-group .input-number-increment {
    border: 1px solid #cacaca;
    height: 40px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 0;
  }
  

/* fin style incrementer */
.heading{

  font-weight: 600;
  font-size: 20px;
  /* margin: 0;
  cursor: pointer;
  margin-bottom: 10px;
  line-height: 100%;  */
}

.prestation ul{
  list-style: none;
}

.prix_location, .content_depart, .content_retour{
  padding-left: 0.5rem !important;
}

.prix_location .prix{
  font-size: 20px;
}

.testfont{
  font-family: 'Poppins', sans-serif;
  color: black;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  display: block;
  margin: 2px 0;
  padding: 4px;
  width: 19em;
  position: absolute;
  z-index: 100;
}
.wizard_horizontal ul.wizard_steps  {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
 
}
.wizard_horizontal .stepContainer{
  z-index: 1;
}