{% extends 'base2.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block content %}
    <h1>Modification Contact</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('contact_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
