{% extends 'base2.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block content %}
    <h1>Nouveau Contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('contact_index') }}">retour</a>
{% endblock %}
