{% extends 'base2.html.twig' %}

{% block title %}Reservation index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="Gantt/dhtmlxgantt.css?v=7.1.2">

	<link href="../../css/admin/planGen.css" rel="stylesheet">


{% endblock %}
{% block current_page %}
	<i class="fa fa-calendar"></i>
	Planning général
{% endblock %}

{% block content %}
	<!-- top tiles -->
	<h1>planning général</h1>
	<div class="x_panel">
		<div class="row  legende">
			<div class="col-auto ">
				<label for="légende">Légendes</label>
			</div>
			<div class="w-100"></div>
			<div class="col-auto">
				<div class="row">
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-success"></span>
							</div>
							<div class="col-auto pl-1">Agence
							</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-warning"></span>
							</div>
							<div class="col-auto pl-1">Agence + Transfert</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Indisponible</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Jours feries
							</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Aéroport</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Aéroport + Transfert</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Gare maritime</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Gare maritime + Transfert</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Point de livraison</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Réservation corporate</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="x_panel" style="width:100%; height:100%;">
		<div class="row">
			<div class="col-auto">
				<a href="" class="btn btn-primary">7jours</a>
			</div>
			<div class="col-auto">
				<a href="" class="btn btn-primary">14jours</a>
			</div>
			<div class="col-auto">
				<a href="" class="btn btn-primary">1 mois</a>
			</div>
			<div class="col-auto">
				<a href="" class="btn btn-primary">2 mois</a>
			</div>

		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="">Date de début</label>
				<input type="date" id="datedebutplanning" onchange="handler(event);"/>
			</div>
			<div class="col-md-10">
				<div id="gantt_here" style="width:100%; height:500px;"></div>
			</div>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	<script src="Gantt/dhtmlxgantt.js?v=7.1.2"></script>
	{# // <script src="../../js/admin/plangen_ajax.js"></script> #}
{% endblock %}
