{% extends 'base2.html.twig' %}

{% block title %}Planning journalier
{% endblock %}

{% block current_page %}

	<h2>
		<i class="fa fa-calendar-o"></i>
		Planning journalier
	</h2>
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../../css/admin/planJour.css">

{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-calendar-o"></i>
				Planning journalier
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="text-center ">
				<h5 class="font-weight-bold">
					<i class="fa fa-calendar-o mr-2"></i>PLANNING du
					<span>08 OCTOBRE 2020</span>
				</h5>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">

						<table id="datatable" class="table table-striped table-bordered" style="width:100%">
							<thead class="text-uppercase">
								<tr>
									<th>solde restant</th>
									<th class="text-nowrap">N° résa</th>
									<th>heure</th>
									<th>dates</th>
									<th>
										arrivée retour</th>
									<th>infos</th>
									<th class="text-nowrap">N° vol</th>
									<th>lieu</th>
									<th>modèle véhicule</th>
									<th>immat</th>
									<th>nom</th>
									<th>commune séjour</th>
									<th>nbr pers</th>
								</tr>
							</thead>


							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	{% block javascripts %}
		<!-- Datatables -->
		<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
		<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
		<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
		<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
		<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
		<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
		<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
		<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
		<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
		<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
		<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
		<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
		<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
		<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
		<script src="../../js/admin/datatable.fr.js"></script>


	{% endblock  %}
