  {% extends 'base2.html.twig' %}

  {% block title %}Reservation index{% endblock %}

  	{% block content %}
  		<!-- top tiles -->
  		<h1>planning général</h1>
  		<div>	
  			<img src="../../images/blank_profile.png" alt="..." class="img-circle profile_img">
  		</div>

  	{% endblock %}