{% extends 'base2.html.twig' %}

{% block title %}Véhicules disponible
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block current_page %}
	<h2>Véhicules disponibles</h2>
{% endblock %}


{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-car"></i>
				Véhicules disponibles
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<h2 class="text-uppercase text-center">
				<i class="fa fa-car"></i>
				véhicules disponibles le
				<span class="date">LE 09 octobre 2020</span>
			</h2>


			<div class="row">
				<div class="col-auto">
					<label for="date">Date de recherche :</label>
				</div>
				<div class="w-100"></div>
				<div class="col-auto">
					<div class="row">
						<div class="col-auto pr-0">
							<input id="birthday" class="date-picker " placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
						</div>
						<div class="col-auto pr-0">
							<button class="btn btn-warning">
								<i class="fa fa-search"></i>
								Valider</button>
						</div>
						<div class="col-auto ">
							<button class="btn btn-warning">
								<i class="fa fa-file"></i>
								Export Csv</button>
						</div>
					</div>

				</div>

			</div>
			<table class="table table-hover">
				<thead class="bg-dark text-white text-uppercase">
					<tr>
						<th>Immatriculation</th>
						<th>partenaire</th>
						<th>modèle</th>
						<th>catégorie</th>
						<th>famille</th>
						<th>dernière réservation</th>
						<th>prochaine réservation</th>
						<th>action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
						<td>@mdo</td>
						<td>@mdo</td>
						<td>@mdo</td>
						<td>@mdo</td>
					</tr>
				</tbody>
			</table>
		{% endblock %}

		{% block javascripts %}
			<!-- Datatables -->
			<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
			<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
			<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
			<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
			<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
			<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
			<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
			<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
			<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
			<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
			<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
			<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
			<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
			<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
			<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>

		{% endblock  %}
