{% extends 'base2.html.twig' %}

{% block title %}Réservation
{% endblock %}


{% block stylesheets %}{% endblock %}
{% block current_page %}

	<h2>
		<i class="fa fa-list"></i>Utilisateurs</h2>

{% endblock %}

{% block content %}{% endblock %}
{% block javascripts %}{% endblock  %}
