<h2 class="StepTitle">Step 3 Content</h2>
<div class="row">
	<div class="col-md-3">
		<div class="alert alert-secondary btn-block h-100">
			<div class="x_title">
				<h3>
					<i class="fa fa-chevron-right"></i>
					Votre réservation
				</h3>
			</div>
			<img src="../../images/capture 1.jpg" alt="" style="width:100%;">

			<div>
				<h3 class="heading">Agence départ
				</h3>
				<div class="content_depart">
					<p>
						<i class="fa fa-map-marker"></i>
						<span>
							Aéroport Guadeloupe via Navette
						</span><br>
						<span>
							09 Octobre 2020 - 06H00
						</span>
					</p>
				</div>
				<h3 class="heading">Agence retour
				</h3>
				<div class="content_retour">
					<p>
						<i class="fa fa-map-marker"></i>
						<span>
							Aéroport Guadeloupe via Navette
						</span><br>
						<span>
							09 Octobre 2020 - 13H00
						</span>
					</p>
				</div>
				<p>
					Soit
					<span>X</span>
					jours de location</p>

				<h3 class="heading">Prix de base de location</h3>
				<div class="prix_location">
					<span class="prix">16.20 EUR</span><br>
					soit 16.20 euro/jour
				</div>
				<div class="prestation">
					<h3 class="heading">Presations incluses</h3>
					<ul class="pl-2">
						<li>
							<i class="fa fa-check"></i>
							Kilométrage Illimité
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance accidents causés aux tiers
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance responsabilité civile
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance collision (CDW)
						</li>
						<li>
							<i class="fa fa-check"></i>
							TVA 8.5 %
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h3>
			<i class="fa fa-chevron-right"></i>
			Choisir vos options
		</h3>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:100%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h3>
								Transfert
							</h3>

						</div>
						<p>
							Transferts aller/retour Aéroport ou Gare Maritime à votre lieu de séjour ou dans une de nos agences Ste Anne, Ste Francois, Trois Rvières, Basse-terre et St Claude. Tous les transferts sont gratuits et à votre disposition selon les disponibilités. Si nos transferts ne sont plus disponibles votre conseiller...
						</p>
						{# test incrementer #}
						<div class="input-group input-number-group">
							<div class="row">
								<div class="col-auto p-0">
									<button class="btn btn-dark decrement mb-0">
										<i class="fa fa-minus"></i>
									</button>
								</div>
								<div class="col-auto p-0">
									<input class="input-number p-0" type="number" value="0" min="0" max="1000">
								</div>
								<div class="col-auto p-0 pl-1">
									<button class="btn btn-primary increment mb-0">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="col-auto d-flex">
									<div class=" d-flex align-items-center">
										<div>0 Euro</div>
									</div>
								</div>
							</div>
						</div>
						{# fin incrementer #}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary btn-block h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h3>
								Transfert
							</h3>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil non accusantium corporis delectus soluta? Omnis fugit quas quia, cum iste commodi aliquid vero ea voluptas placeat itaque voluptatibus eum culpa.</p>
						{# test incrementer #}
						<div class="input-group input-number-group ">
							<div class="row">
								<div class="col-auto p-0">
									<button class="btn btn-dark decrement mb-0">
										<i class="fa fa-minus"></i>
									</button>
								</div>
								<div class="col-auto p-0">
									<input class="input-number p-0" type="number" value="0" min="0" max="1000">
								</div>
								<div class="col-auto p-0 pl-1">
									<button class="btn btn-primary increment mb-0">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="col-auto d-flex">
									<div class=" d-flex align-items-center">
										<div>0 Euro</div>
									</div>
								</div>
							</div>
						</div>
						{# fin incrementer #}
					</div>
				</div>
			</div>
		</div>

		<h3>
			<i class="fa fa-chevron-right"></i>

			Choisissez vos garanties</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:100%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h3>
								Transfert
							</h3>
						</div>
						<p>
							Transferts aller/retour Aéroport ou Gare Maritime à votre lieu de séjour ou dans une de nos agences Ste Anne, Ste Francois, Trois Rvières, Basse-terre et St Claude. Tous les transferts sont gratuits et à votre disposition selon les disponibilités. Si nos transferts ne sont plus disponibles votre conseiller...
						</p>
						<div class="row">
							<div class="col-auto p-0">
								<button class="btn btn-dark mb-0">Oui</button>
							</div>
							<div class="col-auto p-0">
								<button class="btn btn-primary mb-0">Non</button>
							</div>
							<div class="col-auto border border-secondary d-flex">
								<div class="d-flex align-items-center">
									<div>
										<span>0</span>
										EUR
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary btn-block h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h3>
								Transfert
							</h3>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil non accusantium corporis delectus soluta? Omnis fugit quas quia, cum iste commodi aliquid vero ea voluptas placeat itaque voluptatibus eum culpa.</p>

						<div class="row">
							<div class="col-auto p-0">
								<button class="btn btn-dark mb-0">Oui</button>
							</div>
							<div class="col-auto p-0">
								<button class="btn btn-primary mb-0">Non</button>
							</div>
							<div class="col-auto border border-secondary d-flex">
								<div class="d-flex align-items-center">
									<div>
										<span>0</span>
										EUR
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
