<div style="height : 250px;">
	<div class="x_title">
		<h2 class="text-danger font-weight-bold">
			Départ :
		</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<label for="">
					Agence de départ :
				</label>
				<div class="form-group ">
					<div class="">
						<select class="form-control" id='agence_depart' name="agence_depart">
							<option>Choisir</option>
							<option value="AEROPORT DE POINT-A-PITRE">AEROPORT DE POINT-A-PITRE</option>
							<option value="AGENCE DU MOULE">AGENCE DU MOULE</option>
							<option value="GARE MARITIME DE BERGERVIN">GARE MARITIME DE BERGERVIN</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<label for="">
					Date et Heure de départ :
				</label>
				<div>
					<input id="reservation_date_debut" type="datetime-local" class="form-control">
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<label for="">
					Type de véhicule :
				</label>
				<div class="form-group ">
					<div class="">
						<select class="form-control" id="selectVehicule" name="selectVehicule"></select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="x_title">
		<h2 class="text-danger font-weight-bold">
			Retour :
		</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<label for="">
					Agence de retour :
				</label>
				<div class="form-group ">
					<div class="">
						<select class="form-control w-100" id='agence_retour' name="agence_retour">
							<option>Choisir</option>
							<option value="AEROPORT DE POINT-A-PITRE">AEROPORT DE POINT-A-PITRE</option>
							<option value="AGENCE DU MOULE">AGENCE DU MOULE</option>
							<option value="GARE MARITIME DE BERGERVIN">GARE MARITIME DE BERGERVIN</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<label for="">
					Date et Heure de retour :
				</label>
				<div>
					<input id="reservation_date_fin" type="datetime-local" class="form-control">
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<label for="">
					Lieu de séjour :
				</label>
				<div class="form-group ">
					<div class="">
						<input class="form-control" id="lieu_sejour" name="lieu_sejour">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
