{# step 4 #}
<div class="row">
	<div class="col-md-3">
		<div class="alert alert-secondary btn-block h-90">
			<div class="x_title">
				<h3>
					<i class="fa fa-chevron-right"></i>
					Votre réservation
				</h3>
			</div>
			<img src="" alt="" style="width:90%;" id="vehicule_photo">
			<div>
				<h3 class="heading">Agence départ
				</h3>
				<div class="content_depart">
					<p>
						<i class="fa fa-map-marker"></i>
						<span id="agence_depart"></span><br>
						<span id="date_depart"></span>
						<span id="heure_depart"></span>
					</p>
				</div>
				<h3 class="heading">Agence retour
				</h3>
				<div class="content_retour">
					<p>
						<i class="fa fa-map-marker"></i>
						<span id="agence_retour"></span><br>
						<span id="date_retour"></span>
						<span id="heure_retour"></span>
					</p>
				</div>
				<p>
					Soit
					<span id="nombre_jours_location"></span>
					jours de location</p>

				<h3 class="heading">Prix de base de location</h3>
				<div class="prix_location">
					<span id="prix"></span>
					EUR<br>
					soit
					<span id="prix"></span>
					euro/jour
				</div>
				<div class="prestation">
					<h3 class="heading">Prestations incluses</h3>
					<p>
						<i class="fa fa-check"></i>
						<span>Conducteur :
						</span>
						<span id="span_conducteur"></span>
					</p>
					<p>
						<i class="fa fa-check"></i>
						<span id="span_siege"></span>
					</p>
					<p>
						<i class="fa fa-check"></i>
						<span id="span_garantie"></span>
					</p>
				</div>
			</div>

		</div>
	</div>
	<div class="col-md-9">
		<div class="alert alert-success alert-dismissible fade show hide" role="alert" id="alertCreatedClient">
			<strong>Le client a été enregistré avec succés !</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="btnCloseAlert">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="x_title">
			<h2 class="font-weight-bold">
				<i class="fa fa-search"></i>
				Rechercher un client existant
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="form-group">
				<form autocomplete="off">
					<div class="autocomplete">
						<input id="selectClient" type="text" name="myCountry" placeholder="Nom ou email du client" class="form-control">
					</div>
				</form>
			</div>
		</div>

		<div id="formCreateClient">
			<div class="x_title">
				<h2 class="font-weight-bold">
					<i class="fa  fa-newspaper-o"></i>
					Créer un nouveau client
				</h2>

				<div class="clearfix"></div>
			</div>
			<div class="x_content">

				<form name="createClient" class="needs-validation border border-dark p-2">
					<div class="row">
						<div class="col-md-6">

							<div class="form-group row">
								<label for="nom" class="col-sm-3 col-form-label">Nom</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="nom" name="nom" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="prenom" class="col-sm-3 col-form-label">Prénom</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="prenom" name="prenom" required>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row">
								<label for="email" class="col-sm-3 col-form-label">Email</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="email" name="email" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="telephone" class="col-sm-3 col-form-label">Téléphone</label>
								<div class="col-sm-9">
									<input type="tel" class="form-control" id="telephone" name="telephone" required>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<button class="btn btn-danger " id="createClient" type="submit">Créer</button>
					</div>
				</form>

			</div>
		</div>
		<div class="row justify-content-md-center mt-4">
			<div class="col-auto pr-0 pl-0">
				<button class="btn btn-warning" id="pdfDevis">
					<i class="fa fa-file-pdf-o mr-1"></i>Enregistrer le devis</button>
			</div>
			<div class="col-auto pr-0 pl-0">
				<button class="btn btn-primary" id="enregistrerDevis">
					<i class="fa fa-envelope mr-1 "></i>Enregistrer le devis + envoi au client</button>
			</div>
			<div class="col-auto pr-0 pl-0">
				<button class="btn btn-violet" id="enregistrerDevis">
					<i class="fa fa-check mr-1"></i>Enregistrer le devis</button>
			</div>
		</div>
		<div class="form-group text-center">
			<div>
				<a type="button" class="btn btn-danger btn-block" id="reserver">
					<i class="fa fa-check"></i>
					Réserver</a>
			</div>
		</div>
	</div>
	{# end step 4 #}
</div>
<!-- End SmartWizard Content -->
