<div class="card" style="height : 250px;">
	<div class="card-body">
		<div class="row">
			<div class="col-md-5"><img src="alt=" "" style="width:90%;" id="vehicule_photo"></div>
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-8">
						<h4 id="vehicule_marque"></h4>ou similaire
						<br>
						Catégorie CFMR
						<br>
						<p id="vehicule_carburation"></p>
					</div>
					<div class="col-md-4">
						<p class="font-weight-bold mb-0 pb-0">Caution</p>
						<p class="mb-0 pb-0" id="vehicule_caution">1000,00 EUR</p>
						<p class="font-weight-bold mb-0 pb-0">Conducteur</p>
						<p class="mb-0 pb-0">23 ans</p>
						<p class="font-weight-bold mb-0 pb-0">Permis</p>
						<p class="mb-0 pb-0">3 ans</p>

					</div>
					<p style="font-size:18px" class="mb-0 pb-0">
						<i class="fa fa-info"></i>
						Vous n'avez aucun véhicule de disponible sur cette catégorie</p>
					<p style="font-size:18px" class="mb-0 pb-0">
						<i class="fa fa-exclamation"></i>
						Des véhicules sont disponibles sur l'ensemble du réseau</p>
				</div>
			</div>
		</div>
	</div>
</div>
