<h2 class="StepTitle">Step 3 Content</h2>
<div class="row">
	<div class="col-md-3">
		<div class="alert alert-secondary btn-block h-100">
			<div class="x_title">
				<h3>
					<i class="fa fa-chevron-right"></i>
					Votre réservation
				</h3>
			</div>
			<img src="../../images/capture 1.jpg" alt="" style="width:100%;">

			<div>
				<h3 class="heading">Agence départ
				</h3>
				<div class="content_depart">
					<p>
						<i class="fa fa-map-marker"></i>
						<span>
							Aéroport Guadeloupe via Navette
						</span><br>
						<span>
							09 Octobre 2020 - 06H00
						</span>
					</p>
				</div>
				<h3 class="heading">Agence retour
				</h3>
				<div class="content_retour">
					<p>
						<i class="fa fa-map-marker"></i>
						<span>
							Aéroport Guadeloupe via Navette
						</span><br>
						<span>
							09 Octobre 2020 - 13H00
						</span>
					</p>
				</div>
				<p>
					Soit
					<span>X</span>
					jours de location</p>

				<h3 class="heading">Prix de base de location</h3>
				<div class="prix_location">
					<span class="prix">16.20 EUR</span><br>
					soit 16.20 euro/jour
				</div>
				<div class="prestation">
					<h3 class="heading">Presations incluses</h3>
					<ul class="pl-2">
						<li>
							<i class="fa fa-check"></i>
							Kilométrage Illimité
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance accidents causés aux tiers
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance responsabilité civile
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance collision (CDW)
						</li>
						<li>
							<i class="fa fa-check"></i>
							TVA 8.5 %
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h3>
			<i class="fa fa-chevron-right"></i>
			Choisir vos options
		</h3>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:100%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h4>
								Conducteur additionnel
							</h4>

						</div>
						<p>
							A Joel Location, nous savons que les longs trajets peuvent être fatigants, surtout après un bon bain de mer. C’est pour cela, que nous vous proposons l’ajout d’un deuxième conducteur gratuitement. De plus, les assurances responsabilités civiles et accidents causés aux tiers sont inclus dans votre forfait "location de voiture".
						</p>
						{# test incrementer #}
						{# <div class="input-group input-number-group">
																																																	<div class="row">
																																																		<div class="col-auto p-0">
																																																			<button class="btn btn-dark decrement mb-0">
																																																				<i class="fa fa-minus"></i>
																																																			</button>
																																																		</div>
																																																		<div class="col-auto p-0">
																																																			<input class="input-number p-0" type="number" value="0" min="0" max="1000">
																																																		</div>
																																																		<div class="col-auto p-0 pl-1">
																																																			<button class="btn btn-primary increment mb-0">
																																																				<i class="fa fa-plus"></i>
																																																			</button>
																																																		</div>
																																																		<div class="col-auto d-flex">
																																																			<div class=" d-flex align-items-center">
																																																				<div>0 Euro</div>
																																																			</div>
																																																		</div>
																																																	</div>
																																																</div> #}
						<div class="row">
							<div class="col-auto">
								<label class="label-conducteur">Oui
									<input type="radio" checked name="radio-conducteur">
									<span class="checkmark-conducteur"></span>
								</label>
							</div>
							<div class="col-auto">
								<label class="label-conducteur">Non
									<input type="radio" name="radio-conducteur">
									<span class="checkmark-conducteur"></span>
								</label>
							</div>
						</div>

						{# fin incrementer #}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary btn-block h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h4>
								Siège bébé / enfant
							</h4>
						</div>
						<p>Nous mettons à votre disposition des sièges bébé et nourrissons, homologués NF, pour seulement 30 euros TTC. Les rehausseurs pour les enfants de + de 15kg sont totalement gratuits !</p>
						{# test radio #}
						<label class="label-radio">Siège bébé : 30€
							<input type="radio" checked="checked" name="radio-bebe">
							<span class="checkmark-radio"></span>
						</label>
						<label class="label-radio">Siège nourrisson : 30€
							<input type="radio" name="radio-bebe">
							<span class="checkmark-radio"></span>
						</label>
						<label class="label-radio">Rehausseur : gratuit
							<input type="radio" name="radio-bebe">
							<span class="checkmark-radio"></span>
						</label>
						{# fin incrementer #}
					</div>
				</div>
			</div>
		</div>

		<h3>
			<i class="fa fa-chevron-right"></i>

			Choisissez vos garanties</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:100%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h4>
								GARANTIE BRIS DE GLACE & PNEUS
							</h4>
						</div>
						<p>
							Ce produit élimine votre éventuelle responsabilité envers nous ; en cas de dommage 	causé aux vitres du véhicule (y compris au toit ouvrant) et aux pneus uniquement.
						</p>
						<div class="row">
							<div class="col-auto p-0">
								<label class="label-container">90€
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>


							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary btn-block h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h4>
								ASSISTANCE ESPRIT TRANQUILLE
							</h4>
						</div>
						<p>
							Ce produit offre une couverture pour la récupération du véhicule et les frais de demande d’intervention en urgence dont vous devriez normalement vous acquitter, si la demande d’intervention ou le dépannage étaient imputables à une faute de votre part. Exemples de frais pour demande d’intervention en urgence couverts : clés perdus, batterie déchargée, erreur de carburant.
						</p>
						<div class="row">
							<div class="col-auto p-0">
								<label class="label-container">100€
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-2">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary btn-block h-100">
							<img src="../../images/capture 1.jpg" alt="" style="width:90%;">
						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h4>
								ASSISTANCE PREMIUM
							</h4>
						</div>
						<p>L’Assistance Premium est un produit optionnel qui complète l’assurance responsabilité civile incluse dans votre prix de location. Il offre une couverture pour la récupération du véhicule et les frais de demande d’intervention en urgence dont vous devriez normalement vous acquitter si la demande d’intervention ou le dépannage étaient imputables à une faute de votre part. Ce produit couvre tout dommage ou perte au véhicule à valeur total du véhicule.
						</p>
						<div class="row">
							<div class="col-auto p-0">
								<label class="label-container">160€
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
