<div class="x_title">
	<h2 class="text-danger font-weight-bold">
		Départ :
	</h2>
	<div class="clearfix"></div>
</div>
<div class="x_content">
	<div class="row">
		<div class="col-md-4">
			<label for="">
				Agence de départ :
			</label>
			<div class="form-group ">
				<div class="">
					<select class="form-control">
						<option>Choisir</option>
						<option>AEROPORT DE POINT-A-PITRE</option>
						<option>AGENCE DU MOULE</option>
						<option>GARE MARITIME DE BERGERVIN</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-4">

			<label for="">
				Date et Heure de départ :
			</label>
			<div>
				<input id="reservation_date_debut" type="datetime-local" class="form-control">
			</div>
		</div>

		<div class="col-md-4">
			<label for="">
				Type de véhicule :
			</label>
			<div class="form-group ">
				<div class="">
					<select class="form-control" id="selectVehicule"></select>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="x_title">
	<h2 class="text-danger">
		Retour :
	</h2>
	<div class="clearfix"></div>
</div>
<div class="x_content">
	<div class="row">
		<div class="col-md-4">
			<label for="">
				Agence de retour :
			</label>
			<div class="form-group ">
				<div class="">
					<select class="form-control">
						<option>Choisir un type de date</option>
						<option>Option one</option>
						<option>Option two</option>
						<option>Option three</option>
						<option>Option four</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<label for="">
				Date et Heure de retour :
			</label>
			<div>
				<input id="reservation_date_fin" type="datetime-local" class="form-control">
			</div>
		</div>
		<div class="col-md-4">
			<label for="">
				Lieu de séjour :
			</label>
			<div class="form-group ">
				<div class="">
					<input class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>
