<div class="row">
	<div class="col-md-3 ">
		<span class="text-dark font-weight-bold ">
			<i class="fa fa-calendar-o mr-1"></i>Aller :
		</span>
	</div>
	<div class="col-md-3">
		<span class="text-dark font-weight-bold ">
			<i class="fa fa-calendar-o mr-1"></i>Retour :
		</span>
	</div>
	<div class="col-md-3">
		<span class="text-dark font-weight-bold ">
			<i class="fa fa-calendar-o mr-1"></i>Jours :
		</span>
	</div>
	<div class="col-md-3">
		<span class="text-dark font-weight-bold ">
			<i class="fa fa-bookmark mr-1"></i>Code promo :
		</span>
	</div>
</div>
<div class="">
	<div class="row groupe_boutons m-1 justify-content-center">
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Tous les véhicules</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Economique</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Compacte</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Familiale</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Minibus</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">4x4</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Automatique</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Premium</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">SUV</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Utilitaires</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Citadine</button>
		</div>
		<div class="col-auto">
			<button class="btn btn-outline-secondary">Véhicules déclassés</button>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-5"><img src="../../images/capture 1.jpg" alt="" style="width:90%;"></div>
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-8">
						<h4>VOLSWAGEN T-ROC ESS</h4>ou similaire
						<br>
						Catégorie CFMR
						<br>
						Essence | Kilométrage Illimité
					</div>
					<div class="col-md-4">
						<p class="font-weight-bold mb-0 pb-0">Caution</p>
						<p class="mb-0 pb-0">1000,00 EUR</p>
						<p class="font-weight-bold mb-0 pb-0">Conducteur</p>
						<p class="mb-0 pb-0">23 ans</p>
						<p class="font-weight-bold mb-0 pb-0">Permis</p>
						<p class="mb-0 pb-0">3 ans</p>

					</div>
					<p style="font-size:18px" class="mb-0 pb-0">
						<i class="fa fa-info"></i>
						Vous n'avez aucun véhicule de disponible sur cette catégorie</p>
					<p style="font-size:18px" class="mb-0 pb-0">
						<i class="fa fa-exclamation"></i>
						Des véhicules sont disponibles sur l'ensemble du réseau</p>
				</div>
			</div>
		</div>
	</div>
</div>
