{% extends 'base2.html.twig' %}

{% block title %}Edit Message{% endblock %}

{% block content %}
    <h1>Modification de Message</h1>

    {{ include('message/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('message_index') }}">retour</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
