{% extends 'base2.html.twig' %}

{% block title %}New Message{% endblock %}

{% block content %}
    <h1>Nouveau message</h1>

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('message_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>
{% endblock %}
