<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
		http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
		rel="icon" href="images/favicon.ico" type="image/ico"/>

		<!-- <title>Gentelella Alela! | </title> -->
		<title>JOEL LOCATION -
			{% block title %}{% endblock %}
		</title>

		<!-- Bootstrap -->
		<link
		href="../admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Font Awesome -->
		<link
		href="../admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!-- NProgress -->
		<link
		href="../admin/vendors/nprogress/nprogress.css" rel="stylesheet">
		<!-- iCheck -->
		<link
		href="../admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

		<!-- bootstrap-progressbar -->
		<link
		href="../admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
		<!-- JQVMap -->
		<link
		href="../admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
		<!-- bootstrap-daterangepicker -->
		<link
		href="../admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

		<!-- Custom Theme Style -->
		<link
		href="../admin/build/css/custom.min.css" rel="stylesheet">

		<!-- Custom header dynamic table -->
		<link
		href="../css/admin/custom_datatable.css" rel="stylesheet">

		<!-- Custom header dynamic table -->
		<link href="../css/admin/custom_styles.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		</head>

		<body class="nav-md">
			<div class="container body">
				<div class="main_container">
					{% block nav %}
						{% include 'admin/layouts/nav.html.twig' %}
					{% endblock %}
					{# test nom de page #}
					<div class=" top_nav bg-white p-2 shadow-lg" style=" box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;">
						<div class="row">
							<div class="col-auto">
								<div class="col-auto ml-auto text-info current_page"> {% block current_page %}{% endblock %}
									</div>
								</div>
								<div class="col-auto ml-auto">
									<div class="d-flex align-items-center"> {% block current_page_right %}{% endblock %}
										</div>
									</div>
								</div>
							</div>
						</div>
						{# fin de test #}


						<!-- page content -->
						<div class="right_col" role="main"> {% block content %}{% endblock %}

							<!-- /page content -->

							<!-- footer content -->
							<footer>
								<div class="pull-right">
									Gentelella - Bootstrap Admin Template by
									<a href="https://colorlib.com">Colorlib</a>
								</div>
								<div class="clearfix"></div>
							</footer>
							<!-- /footer content -->
						</div>
					</div>
				</body>
			</html>
		</body>
	</html>
</div><!-- jQuery --><script src="../admin/vendors/jquery/dist/jquery.min.js"></script><!-- Bootstrap --><script src="../admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script><!-- FastClick --><script src="../admin/vendors/fastclick/lib/fastclick.js"></script><!-- NProgress --><script src="../admin/vendors/nprogress/nprogress.js"></script><!-- Chart.js --><script src="../admin/vendors/Chart.js/dist/Chart.min.js"></script><!-- gauge.js --><script src="../admin/vendors/gauge.js/dist/gauge.min.js"></script><!-- bootstrap-progressbar --><script src="../admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script><!-- iCheck --><script src="../admin/vendors/iCheck/icheck.min.js"></script><!-- Skycons --><script src="../admin/vendors/skycons/skycons.js"></script><!-- Flot --><script src="../admin/vendors/Flot/jquery.flot.js"></script>
<script src="../admin/vendors/Flot/jquery.flot.pie.js"></script>
<script src="../admin/vendors/Flot/jquery.flot.time.js"></script>
<script src="../admin/vendors/Flot/jquery.flot.stack.js"></script>
<script src="../admin/vendors/Flot/jquery.flot.resize.js"></script><!-- Flot plugins --><script src="../admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="../admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="../admin/vendors/flot.curvedlines/curvedLines.js"></script><!-- DateJS --><script src="../admin/vendors/DateJS/build/date.js"></script><!-- JQVMap --><script src="../admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="../admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="../admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script><!-- easy-pie-chart --><script src="../admin/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script><!-- Custom Theme Scripts --><script src="../admin/build/js/custom.min.js"></script>
<script src="../../js/admin/planning_ajax.js"></script>
{% block javascripts %}{% endblock %}</body></html>
