<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Espace client
		</title>
		<link
		rel="icon" type="image/x-icon" href="../../images/Joel-Location-new.png"/>
		<!-- Bootstrap -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset( 'admin/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
		<link href="{{ asset( 'css/client/style.css')}}" rel="stylesheet"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<div class="preloader">
				<span class="preloader-spin"></span>
			</div>

			<div
				class="site">
				{# <header class="d-flex align-items-center"></header> #}
				<div class="containerBody mdl-shadow--2dp">
					<div class="row">
						<div class="col-md-3 col-sm-3 ">
							{% include "client/layouts/nav.html.twig" %}
						</div>
						<div class="col-md-9 col-sm-9 "> {% block body %}{% endblock %}
							</div>
						</div>
					</div>
				</div>
				<!--Required JS files-->
				<!-- jQuery -->
				<script src="../../plugins/jquery/jquery.min.js"></script>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
