/* Import DaisyUI and Tailwind via CDN (in HTML) */
/* Custom DaisyUI theme */
:root {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  /*--color-base-100: oklch(60% 0.3 0);*/
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: oklch(76.662% 0.135 153.45);
  --color-primary-content: oklch(33.387% 0.04 162.24);
  --color-secondary: oklch(61.302% 0.202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(63.6% 0.329 19.6);
  --color-error-content: oklch(100% 0 0); /* blanc pur */
  --color-black: oklch(0% 0 0); /* noir */
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1rem;
  --border-btn: 1px;
}

/* Custom styles */
.preloader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-base-100);
  z-index: 50;
  transition: opacity 0.5s ease;
}
.preloader.hidden {
  opacity: 0;
  pointer-events: none;
}
  :root {
      --er: #fc0317;
      --erc: #ffffff;
    }

/* app.css */

.btn-red {
  background-color: var(--color-error);
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-btn);
  transition: background-color 0.3s;
}

.btn-black {
  background-color: var(--color-black);
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-btn);
  transition: background-color 0.3s;
}

.btn-red:hover {
  background-color: #c30212;
}

.title-red {
  color: #fc0317;
  font-weight: 700;
}

