{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="/css/client/style.css">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="section-title red text-center">
			<h2>Modification des informations</h2>
		</div>
		{{ include('client/_formClient.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('client') }}" class="btn btn-dark">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			Retour</a>

	</div>
{% endblock %}
