{% extends 'base2.html.twig' %}

{% block title %}Reservation index
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock %}
{% block current_page %}

	<h2>
		<i class="fa fa-credit-card"></i>Réservation non soldées</h2>

{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class=" text-center">
			<h2 class="text-uppercase font-weight-bold">Réservations non soldées</h2>
			<h2 class="text-danger text-uppercase font-weight-bold">antérieur au 08 octobre 2020</h2>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">
						<div class="alert alert-info">
							<i class="fa fa-info-circle"></i>
							The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
						</div>
						<table id="datatable" class="table table-striped table-bordered text-center" style="width:100%">
							<thead class="text-uppercase">
								<tr>
									<th>date création
									</th>
									<th>référence</th>
									<th>client</th>
									<th>départ</th>
									<th>retour</th>
									<th>total</th>
									<th>payé</th>
									<th>solde</th>
									<th>action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Donna Snider</td>
									<td>Customer Support</td>
									<td>New York</td>
									<td>27</td>
									<td>2011/01/25</td>
									<td>$112,000</td>
									<td>$112,000</td>
									<td>$112,000</td>
									<td>
										<button class="btn btn-primary">
											<a href="{{path('reserv_non_solde_detail')}}">
												<i class="fa fa-info"></i>
											</a>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			{% endblock %}

			{% block javascripts %}
				<!-- Datatables -->
				<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
				<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
				<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
				<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
				<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
				<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
				<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
				<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
				<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
				<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
				<script src="../../js/admin/datatable.fr.js"></script>

			{% endblock  %}
