<!-- Main Reservation Card -->
<div class="row">
	{% include 'client/reservation/details/_sidebar.html.twig' with {
		'reservation': reservation
	} %}
	
	<div class="col-md-8">
		{% include 'client/reservation/details/_rental_period.html.twig' with {
			'type': type,
			'reservation': reservation
		} %}

		{% include 'client/reservation/details/_conductors.html.twig' with {
			'type': type,
			'reservation': reservation
		} %}

		{% include 'client/reservation/details/_options_guarantees.html.twig' with {
			'reservation': reservation,
			'prixConductSuppl': prixConductSuppl
		} %}

		{% include 'client/reservation/details/_payment_summary.html.twig' with {
			'type': type,
			'reservation': reservation
		} %}

		{% include 'client/reservation/details/_action_buttons.html.twig' with {
			'type': type,
			'reservation': reservation
		} %}
	</div>
</div>
</div>
