<form method="post" action="{{ path('mode_reservation_delete', {'id': mode_reservation.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce mode de reservation?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mode_reservation.id) }}">
    <button class="btn">Supprimer</button>
</form>
