{% extends 'base2.html.twig' %}

{% block title %}New ModeReservation{% endblock %}

{% block content %}
    <h1>Nouvelle mode de reservation</h1>

    {{ include('mode_reservation/_form.html.twig') }}

    <a href="{{ path('mode_reservation_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>
{% endblock %}
