{% extends 'baseClient2.html.twig' %}

{% block title %}
	error
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block nav %}{% endblock %}
{% block body %}

	<div class="text-center">
		<h1>
			La page demandée n'existe pas
		</h1>
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}
