{% extends 'base2.html.twig' %}

{% block title %}New Marque{% endblock %}

{% block content %}
    <h1>Nouvelle marque</h1>

    {{ include('marque/_form.html.twig') }}

    <a href="{{ path('marque_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>
{% endblock %}
