{% extends 'base2.html.twig' %}

{% block title %}New Agence{% endblock %}

{% block body %}
    <h1>Nouvelle Agence</h1>

    {{ include('agence/_form.html.twig') }}

    <a href="{{ path('agence_index') }}">retour</a>
{% endblock %}
