<div class="modal fade" id="modalConducteur" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">
					<i class="fa fa-plus"></i>
					Ajouter un conducteur à la réservation</h5>
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			{{ render(controller('App\\Controller\\Client\\ReservationController::listeConducteurs',{'id' : reservation.id})) }}


		</div>
	</div>
</div>
