{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
