{% extends 'base2.html.twig' %}

{% block title %}Paramètres agence
{% endblock %}


{% block stylesheets %}{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-list"></i>
				Liste des comptes utilisateurs
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<table class="table table-bordered text-center">
				<thead class="table-dark">
					<tr>
						<th>date</th>
						<th>type</th>
						<th>méthode</th>
						<th>référence</th>
						<th>montant</th>
						<th>motif</th>
						<th>action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mark</td>
						<td>Mark</td>
						<td>Mark</td>
						<td>Mark</td>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>

				</tbody>
			</table>
		</div>
	{% endblock %}
	{% block javascripts %}{% endblock  %}
