{% extends 'base2.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <h1>Ajout utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">retour</a>
{% endblock %}
