{% extends 'baseClient2.html.twig' %}

{% block title %}page client
{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
  <header class="flex flex-col md:flex-row md:items-center md:justify-between space-y-4 md:space-y-0">
    <div>
      <h1 class="text-3xl title-red">Modifier conducteur</h1>
      {# <p class="text-gray-500">Suivez les étapes pour créer une nouvelle réservation</p> #}
    </div>
  </header>
	  <div class="bg-white rounded-lg shadow-lg p-6 hover-lift">
		{% include "client2/conducteur/parts/_form_conducteur.html.twig" %}
  </div>

{% endblock %}
{% block javascripts %}{% endblock %}
