<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<img src="../../images/Joel-Location-new.png" style="width : 50%; height : 50%;" alt="">
		<p class="text">
			Bonjour
			{{nom}},
			<br>
		</p>
	</body>
</html>
